@import "./../brand";

.datepicker {
    min-width: inherit;
    table > thead > tr {
        background: #fff;
    }
    table > thead > tr:last-child {
        background: @dark-gray;
        color: #fff;
        text-align: center;
    }
}
