<div ng-if="hasPlacements">
    <nav class="row tab-header" role="form">
    
        <div class="col-sm-6 col-xs-12">
            <!-- <div class="dropdown">
                <div class="dropdown-toggle"><i class="glyph-chevron-down"></i>
                    <span ng-show="campaign">Summary for {{campaign.name}}</span>
                    <span ng-show="!campaign">Summary</span>
                </div>
                <div class="dropdown-menu">
                    <div campaign-details></div>
                </div>
            </div> -->
            
            <div class="btn-group left">
                <b style="float: left;">View By:</b>
                <a ng-click="setActive()" ui-sref=".({viewBy: ''})">Publisher ({{placementsMeta.publishers || 0}})</a>
                <a ng-click="setActive()" ui-sref=".({viewBy: 'creative'})">Creative ({{placementsMeta.creatives || 0}})</a>
                <a ng-click="setActive()" ui-sref=".({viewBy: 'ad-type'})">Ad type ({{placementsMeta.types || 0}})</a>
                <label class="form-label search">
                    <input class="input" placeholder="Search" type="search"/>
                </label>
            </div>
        </div>        
        <div class="col-sm-6 col-xs-12">
            <div class="btn-group right">
                <button class="btn btn-default solid" ng-click="openNewPlacementModal()">New Placement</button>
                <button ng-show="selectedPlacements.length > 0" ng-click="editPlacements()" class="btn btn-default">Edit Placement<span ng-show="selectedPlacements.length > 1">s</span></button>
                <button class="btn btn-default">Set Trackers</button>
                <button ng-click="pullTags()" class="btn btn-default">Pull Tags</button>

            </div>
        </div>
        
        <!-- <div class="col-lg-3">
            <b>View By:</b>
            <a ui-sref=".({viewBy: ''})">Publisher ({{placementsMeta.publishers || 0}})</a>
            <a ui-sref=".({viewBy: 'creative'})">Creative ({{placementsMeta.creatives || 0}})</a>
            <a ui-sref=".({viewBy: 'ad-type'})">Ad type ({{placementsMeta.types || 0}})</a>
        </div>
        <div class="col-lg-2">
            <label class="form-label search">
                <input class="input" placeholder="Search" type="search"/>
            </label>
        </div>
        <div class="col-lg-7 text-right-lg">
            <div class="row">
                <div class="col-sm-4 col-lg-offset-1 col-lg-3">
                    <div class="dropdown dropdown-xs-12">
                        <a class="dropdown-toggle btn-default btn solid">New Placements<i class="glyph-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="">New Placement</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="">Upload Media Plan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 text-right-sm col-lg-8">
                    <div class="btn-group">
                        <button ng-show="selectedPlacements.length > 0" ng-click="editPlacements()" class="btn btn-default">Edit Placement<span ng-show="selectedPlacements.length > 1">s</span></button>
                        <button class="btn btn-default">Set Trackers</button>
                        <button ng-click="pullTags()" class="btn btn-default">Pull Tags</button>
                    </div>
                </div>
            </div>
        </div> -->
    
    </nav>
</div>
<div no-content></div>