<h1 id="creative-thumbnail-view">Creative Thumbnail View</h1>
<hr/>

<p>The "creative-thumbnails" directive is set to display 5 items per row.</p>

<div class="thumbnail-view row">
	
	<div class="creative-wrapper col-sm-3">
		<div ng-click="previewCreative()" class="thumbnail-wrapper">
			<div class="ratio-box">
				<div><span><i class="glyph-view"></i>Preview Creative</span></div>
				<img src="http://www.placecage.com/400/225" class="thumbnail" />
			</div>
		</div>
		<div class="thumbnail-info">
			<i class="glyph-dot success"></i>
			<span>SWF | 1024x200 > 1024x576</span>
		</div>
		<div class="creative-info">
			<span class="title">Creative_Title_FlashVersionV2.0.567</span>
			<div>
				<a ng-click="openPlacements()" title="View Creative Placements">Placements: </a>
				<a ng-click="openPlacements()" title="View Creative Placements">32</a>
			</div>
			<div>
				<span>Ad Type:</span>
				<span>Flash</span>
			</div>
			<div>
				<span>Last Modified:</span>
				<span>10/1/2014</span>
			</div>
			<div>
				<a ng-click="openStudio()" title="Edit Creative in Studio">Edit in Studio</a>
				<a ng-click="openSettings()" title="Creative Settings" class="glyph-icon glyph-settings"></a>
				<a ng-click="copyCreative()" title="Copy Creative" class="glyph-icon glyph-copy"></a>
				<a ng-click="deleteCreative()" title="Delete Creative" class="glyph-icon glyph-close"></a>
			</div>
		</div>
	</div>

	<div class="creative-wrapper col-sm-3">
		<div ng-click="previewCreative()" class="thumbnail-wrapper">
			<div class="ratio-box">
				<div><span><i class="glyph-view"></i>Preview Creative</span></div>
				<img src="http://www.placecage.com/300/250" class="thumbnail" />
			</div>
		</div>
		<div class="thumbnail-info">
			<i class="glyph-dot success"></i>
			<span>RM | 300x250 > 640x360</span>
		</div>
		<div class="creative-info">
			<span class="title">Creative_Title</span>
			<div>
				<a ng-click="openPlacements()" title="View Creative Placements">Placements: </a>
				<a ng-click="openPlacements()" title="View Creative Placements">32</a>
			</div>
			<div>
				<span>Ad Type:</span>
				<span>Rich Media</span>
			</div>
			<div>
				<span>Last Modified:</span>
				<span>10/1/2014</span>
			</div>
			<div>
				<a ng-click="openStudio()" title="Edit Creative in Studio">Edit in Studio</a>
				<a ng-click="openSettings()" title="Creative Settings" class="glyph-icon glyph-settings"></a>
				<a ng-click="copyCreative()" title="Copy Creative" class="glyph-icon glyph-copy"></a>
				<a ng-click="deleteCreative()" title="Delete Creative" class="glyph-icon glyph-close"></a>
			</div>
		</div>
	</div>

	<div class="creative-wrapper col-sm-3">
		<div ng-click="previewCreative()" class="thumbnail-wrapper">
			<div class="ratio-box">
				<div><span><i class="glyph-view"></i>Preview Creative</span></div>
				<img src="http://www.placecage.com/256/120" class="thumbnail" />
			</div>
		</div>
		<div class="thumbnail-info">
			<i class="glyph-dot"></i>
			<span>IBV | 300x250</span>
		</div>
		<div class="creative-info">
			<span class="title">Cage the Rage</span>
			<div>
				<a ng-click="openPlacements()" title="View Creative Placements">Placements: </a>
				<a ng-click="openPlacements()" title="View Creative Placements">32</a>
			</div>
			<div>
				<span>Ad Type:</span>
				<span>In-Banner Video</span>
			</div>
			<div>
				<span>Last Modified:</span>
				<span>10/1/2014</span>
			</div>
			<div>
				<a ng-click="openStudio()" title="Edit Creative in Studio">Edit in Studio</a>
				<a ng-click="openSettings()" title="Creative Settings" class="glyph-icon glyph-settings"></a>
				<a ng-click="copyCreative()" title="Copy Creative" class="glyph-icon glyph-copy"></a>
				<a ng-click="deleteCreative()" title="Delete Creative" class="glyph-icon glyph-close"></a>
			</div>
		</div>
	</div>

	<div class="creative-wrapper col-sm-3">
		<div ng-click="previewCreative()" class="thumbnail-wrapper">
			<div class="ratio-box">
				<div><span><i class="glyph-view"></i>Preview Creative</span></div>
				<img src="http://www.placecage.com/256/120" class="thumbnail" />
			</div>
		</div>
		<div class="thumbnail-info">
			<i class="glyph-dot success"></i>
			<span>IBV | 300x250</span>
		</div>
		<div class="creative-info">
			<span class="title">Cage the Rage</span>
			<div>
				<a ng-click="openPlacements()" title="View Creative Placements">Placements: </a>
				<a ng-click="openPlacements()" title="View Creative Placements">32</a>
			</div>
			<div>
				<span>Ad Type:</span>
				<span>In-Banner Video</span>
			</div>
			<div>
				<span>Last Modified:</span>
				<span>10/1/2014</span>
			</div>
			<div>
				<a ng-click="openStudio()" title="Edit Creative in Studio">Edit in Studio</a>
				<a ng-click="openSettings()" title="Creative Settings" class="glyph-icon glyph-settings"></a>
				<a ng-click="copyCreative()" title="Copy Creative" class="glyph-icon glyph-copy"></a>
				<a ng-click="deleteCreative()" title="Delete Creative" class="glyph-icon glyph-close"></a>
			</div>
		</div>
	</div>

</div>

<div class="highlight" highlight>
<pre><code class="html">
&lt;div creative-thumbnails /&gt;
</code></pre>
</div>

