<h1 id="forms">Forms</h1>
<hr />
<h2 id="basic-form">Basic Form</h2>
<form class="form" name="basicForm" role="form">
    <div class="form-group">
        <label class="form-label required">
            <span>Name</span>
            <input class="form-control" placeholder="Enter name" type="text">
        </label>
    </div>
    <div class="form-group">
        <label class="form-label">
          <span>Email</span>
          <input class="form-control" placeholder="Enter email" type="email">
        </label>
    </div>
    <div class="form-checkbox">
        <label>
            <input type="checkbox" class="checkbox checkbox-light" />
            <span>Check me out</span>
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;form class=&quot;form form-basic&quot; role=&quot;form&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;form-label required&quot;&gt;
            &lt;span&gt;Name&lt;/span&gt;
            &lt;br /&gt;
            &lt;input class=&quot;form-control&quot; placeholder=&quot;Enter name&quot; type=&quot;text&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;form-label&quot;&gt;
            &lt;span&gt;Email&lt;/span&gt;
            &lt;br /&gt;
            &lt;input class=&quot;form-control&quot; placeholder=&quot;Enter email&quot; type=&quot;email&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-checkbox&quot;&gt;
        &lt;label&gt;
            &lt;input type=&quot;checkbox&quot; class=&quot;checkbox checkbox-light&quot; /&gt;
            &lt;span&gt;Check me out&lt;/span&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</code></pre>
</div>
<h2 id="inline-form">Inline Form</h2>
<form class="form-inline" role="form">
    <div class="form-group">
        <label class="form-label">
            <span class="sr-only">Name</span>
            <input class="form-control" placeholder="Enter name" type="text">
        </label>
    </div>
    <div class="form-group">
        <label class="form-label"><span class="sr-only">Select Options</span></label>
        <select select2 ng-model="selected" ng-options="item.name for item in select track by item.value"></select>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" class="checkbox checkbox-light" />
            <span>Remember Me</span>
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;form class=&quot;form-inline&quot; role=&quot;form&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;form-label&quot;&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Name&lt;/span&gt;
            &lt;input class=&quot;form-control&quot; placeholder=&quot;Enter name&quot; type=&quot;text&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;form-label&quot;&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Select Options&lt;/span&gt;
            &lt;select select2 ng-model=&quot;selected&quot; ng-options=&quot;item.name for item in select track by item.value&quot;&gt;&lt;/select&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label&gt;
            &lt;input type=&quot;checkbox&quot; class=&quot;checkbox checkbox-light&quot; /&gt;
            &lt;span&gt;Remember Me&lt;/span&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</code></pre>
</div>
<h2 id="horizontal-form">Horizontal Form</h2>
<form class="form-horizontal" role="form">
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="radio" class="radio radio-light" />
                <span>
                    Choice 1
                </span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="radio" class="radio radio-light" />
                <span>
                    Choice 2
                </span>
            </label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-label required"><span>Channel</span></label>
        <div class="col-sm-10">
            <select select2 ng-model="options">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
                <option>Option 6</option>
                <option>Option 7</option>
                <option>Option 8</option>
                <option>Option 9</option>
                <option>Option 10</option>
                <option>Option 11</option>
                <option>Option 12</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <label>
                <input type="checkbox" class="checkbox checkbox-light" />
                <span>Check me out</span>
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;form class=&quot;form-horizontal&quot; role=&quot;form&quot;&gt;
    &lt;div class=&quot;form-group row&quot;&gt;
        &lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
            &lt;label class=&quot;radio-inline&quot;&gt;
                &lt;input type=&quot;radio&quot; name=&quot;radio&quot; class=&quot;radio radio-light&quot; /&gt;
            &lt;span&gt;
                Choice 1
            &lt;/span&gt;
            &lt;/label&gt;
            &lt;label class=&quot;radio-inline&quot;&gt;
                &lt;input type=&quot;radio&quot; name=&quot;radio&quot; class=&quot;radio radio-light&quot; /&gt;
            &lt;span&gt;
                Choice 2
            &lt;/span&gt;
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group row&quot;&gt;
        &lt;label class=&quot;col-sm-2 form-label required&quot;&gt;&lt;span&gt;Channel&lt;/span&gt;&lt;/label&gt;
        &lt;div class=&quot;col-sm-10 &quot;&gt;
            &lt;select select2 &gt;
                &lt;option&gt;Option 1&lt;/option&gt;
                &lt;option&gt;Option 2&lt;/option&gt;
                &lt;option&gt;Option 3&lt;/option&gt;
                &lt;option&gt;Option 4&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group row&quot;&gt;
        &lt;label for=&quot;inputName&quot; class=&quot;col-sm-2 form-label&quot;&gt;Name&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputName&quot; placeholder=&quot;Name&quot; /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group row&quot;&gt;
        &lt;label for=&quot;inputEmail&quot; class=&quot;col-sm-2 form-label&quot;&gt;Email&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
            &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;inputEmail&quot; placeholder=&quot;Email&quot; /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group row&quot;&gt;
        &lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
            &lt;label&gt;
                &lt;input type=&quot;checkbox&quot; class=&quot;checkbox checkbox-light&quot; /&gt;
                &lt;span&gt;Check me out&lt;/span&gt;
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group row&quot;&gt;
        &lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Submit&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
</code></pre>
</div>
<h2 id="form-supported">Supported Controls</h2>
<form class="form" role="form">
    <div class="form-group">
        <label class="form-label">
            <span>Input</span>
            <input class="form-control" placeholder="Email" type="email">
        </label>
    </div>
    <div class="form-group">
        <label class="form-label">
            <span>Input Disabled</span>
            <input class="form-control" placeholder="Email" type="email" disabled>
        </label>
    </div>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;label class=&quot;form-label&quot;&gt;
    &lt;span&gt;Input&lt;/span&gt;
    &lt;input class=&quot;form-control&quot; placeholder=&quot;Email&quot; type=&quot;email&quot;&gt;
&lt;/label&gt;
</code></pre>
</div>
<hr />

<form class="form" role="form">
    <div class="form-group">
        <label class="form-label">
            <span>Textarea</span>
            <textarea class="form-control" placeholder="Enter some text" rows="3"></textarea>
        </label>
    </div>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;label class=&quot;form-label&quot;&gt;
    &lt;span&gt;Textarea&lt;/span&gt;
    &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Enter some text&quot;&gt;&lt;/textarea&gt;
&lt;/label&gt;
</code></pre>
</div>
<hr />


<form class="form" role="form">
    <div class="form-group">
        <label class="form-label"><span>Single Select w/o Search</span></label>
        <div>
            <select select2 ng-model="selected" ng-options="item.name for item in select track by item.value"></select>
        </div>
    </div>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;label class=&quot;form-label&quot;&gt;
    &lt;span&gt;Single Select w/o Search&lt;/span&gt;
    &lt;select select2 ng-model=&quot;selected&quot; ng-options=&quot;item.name for item in select track by item.value&quot;&gt;&lt;/select&gt;
&lt;/label&gt;
</code></pre>
</div>
<hr />

<form class="form" role="form">
    <div class="form-group">
        <label class="form-label">
            <span>Single Select w/ Search</span>
            <select select2 ng-model="selected" minimum-results-for-search="0" ng-options="item.name for item in select track by item.value"></select>
        </label>
    </div>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;label class=&quot;form-label&quot;&gt;
    &lt;span&gt;Single Select w/ Search&lt;/span&gt;
    &lt;select select2 ng-model=&quot;selected&quot; minimum-results-for-search=&quot;0&quot; ng-options=&quot;item.name for item in select track by item.value&quot;&gt;&lt;/select&gt;
&lt;/label&gt;
</code></pre>
</div>
<hr />

<form class="form" role="form">
    <div class="form-group">
        <label class="form-label theme-dark">
            <span>Dark Single Select w/ Search</span>
            <select select2 ng-model="selected2" minimum-results-for-search="0" ng-options="value for (key, value) in select2 track by key"></select>
        </label>
    </div>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;label class=&quot;form-label theme-dark&quot;&gt;
    &lt;span&gt;Dark Single Select w/ Search&lt;/span&gt;
    &lt;select select2 ng-model=&quot;selected&quot; minimum-results-for-search=&quot;0&quot; ng-options=&quot;item.name for item in select track by item.value&quot;&gt;&lt;/select&gt;
&lt;/label&gt;
</code></pre>
</div>
<hr />

<form class="form" role="form">
    <div class="form-group">
        <label class="form-label search">
            <input class="input" placeholder="Search" type="search" />
        </label>
    </div>
</form>
<div class="highlight" highlight>
<pre><code class="html">
&lt;label class=&quot;form-label search&quot;&gt;
    &lt;input class=&quot;input&quot; placeholder=&quot;Search&quot; type=&quot;search&quot; /&gt;
&lt;/label&gt;
</code></pre>
</div>
