<h1 id="multiselect">Multi-Select</h1>
<hr />
<div class="form-inline">
    <div class="form-group">
        <label for="multiselction">Select Tags:</label>
    </div>
    <div class="form-group">
        <select id="multiselction" chosen multiple ng-model="selected" ng-options="item.name for item in multiselect track by item.value"></select>
    </div>
</div>

<div class="highlight" highlight>
<pre><code class="html">
&lt;select chosen multiple ng-model=&quot;selected&quot; ng-options=&quot;item.name for item in multiselect track by item.value&quot;&gt;
&lt;/select&gt;
</code></pre>
</div>
