<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>
    <h2 class="modal-title">New Client</h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form">
        <div class="form-group row">
            <label class="col-sm-3 form-label required"><span>Channel</span></label>
            <div class="col-sm-9 single-select-light">
                <select class="single-select" chosen ng-options="item.name for item in select track by item.value" disable-search-threshold="10" ng-model="selected">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-3 form-label required"><span>Name</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputName" placeholder="Name" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-label">Logo</label>
            <div class="col-sm-9 file-selection-wrapper">
                <div class="drop-area">
                    Drop file here
                </div>
                <span class="or">- OR -</span>
                <div class="input-group">
                    <button class="btn btn-primary solid left">Choose File</button>
                    <input class="file-name" placeholder="No file selected" readonly />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <span class="col-sm-3 form-label">AE/Rep Name &amp; Email</span>
            <label class="col-sm-9">
                <input type="checkbox" class="checkbox checkbox-light" />
                <span>Require AE/Rep Name and Email for each campaign</span>
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary solid" ng-click="ok()">Add Client</button>
    <button class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
