<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>
    <h2 class="modal-title">New Account</h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form">
        <div class="form-group row">
            <label for="accountName" class="col-sm-3 form-label required"><span>Account Name</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="accountName" placeholder="Enter new account name" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="accountKeywords" class="col-sm-3 form-label"><span>Account Keywords</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="accountKeywords" placeholder="Enter account keywords" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-label required"><span>Industry</span></label>
            <div class="col-sm-9">
                <select select2 ng-options="item.name for item in select track by item.value" ng-model="selected">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-label">Logo</label>
            <div class="col-sm-9 file-selection-wrapper">
                <div ng-model="file" file-picker></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="clickthroughURL" class="col-sm-3 form-label"><span>Clickthrough URL</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="clickthroughURL" placeholder="Enter URL" />
            </div>
        </div>
        <div class="form-group row">
            <label for="leadCaptureEmail" class="col-sm-3 form-label"><span>Lead Capture Email</span></label>
            <div class="col-sm-9">
                <input name="email" type="email" class="form-control" id="leadCaptureEmail" placeholder="Enter email" ng-model="user.email" />
            </div>
        </div>
        <div class="form-group row">
            <span class="col-sm-3 form-label">Spanish Player</span>
            <label class="col-sm-9">
                <input type="checkbox" class="checkbox checkbox-light" />
                <span>Enable Spanish Player</span>
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary solid" ng-click="ok()">Create Account</button>
    <button class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
