<h1 id="select">Select</h1>
<hr/>

<h2>Basic Select</h2>
<div class="form">
	<label class="form-label">
	  <span>Select Options</span>
	  <select class="single-select" chosen disable-search-threshold="10" ng-model="selected" ng-options="item.name for item in select track by item.value"></select>
	</label>
</div>

<h2>Select with search</h2>
<div class="form">
	<label class="form-label">
	  <span>Select Options</span>
	  <select class="single-select-search" chosen ng-model="selected" ng-options="item.name for item in select track by item.value"></select>
	</label>
</div>
<div class="highlight" highlight>
<pre><code class="html">

</code></pre>
</div>