<h1 id="select2">Select2</h1>
<hr />
<p>A custom select2 directive exists! <code>select2</code> and allows for the following attributes</p>
<p class="warn">warning: do not wrap select2 elements in label, on mobile it will cause the select to open</p>
<ul>
    <li><code>multiple</code> - makes the select a multiselect</li>
    <li><code>select2</code> - options hash</li>
    <li><code>ng-model</code>optional - binds to a model</li>
    <li><code>s2-options | ng-options</code> optional - binds to a value collection see <a href="https://docs.angularjs.org/api/ng/directive/ngOptions">ngOptions</a> for documentation.</li>
    <li><code>ng-model-options</code>optional - example <code>ng-model-options="{ getterSetter: true }"</code></li>
</ul>
<h3>Options</h3>
<p>all of the options can be defined either as attributes on the element or in the select2 options hash</p>
<div class="highlight" highlight>
<pre><code class="javascript">
{
    placeholder: 'a string for the when empty state',
    limit: 25, //a render limit for the dropdown,
    searchLimit: 5, //the number of search results to return
    minimumResultsForSearch: 10, //The thresh hold before displaying a search box
    tokenSeparators: [','], //an array of separators for multiselect
    tags: false, //enabled to allow custom tag creation. the created tags are added to the values array
    query: function(data, term, callback) {}, //returns the drop down results
    width: {*}, //see <a href="https://select2.github.io/options.html#width">width info</a> for details
    allowClear: false, //allow the client to remove their selection
    formatModelInsert: function(v) { return { value: v.id, name: v.text }; } //returns the correct formatting for values insert on new tag creation.
}
</code></pre>
</div>
<h3>Multi-Select</h3>
<p>tags and query can not currently enabled at the same time.</p>
<p>{{multiselect}}</p>
<div class="form-inline">
    <div class="form-group">
        <label for="multiselection">Select Tags:</label>
    </div>
    <div class="form-group">
        <select id="multiselection" tags="true" select2 multiple ng-model="selected" s2-options="item.name for item in multiselect track by item.value"></select>
    </div>
</div>
<div class="highlight" highlight>
<pre><code class="html">
&lt;select select2 multiple tags=&quot;true&quot; ng-model=&quot;selected&quot; s2-options=&quot;item.name for item in multiselect track by item.value&quot;&gt;
&lt;/select&gt;
</code></pre>
</div>
