<h1 id="tables">Tables</h1>
<hr />
<h2 id="tables-basic">Basic table with header</h2>
<div class="table-wrapper">
<div basic-table="table"></div>
</div>
<div class="highlight" highlight>
<pre><code class="html">&lt;table class="table"&gt;...&lt;/table&gt;</code></pre>
</div>
<hr />
<h2 id="tables-hover">Basic table with hover</h2>
<div class="table-wrapper">
    <div basic-table="table" class="table-hover"></div>
</div>
<div class="highlight" highlight>
<pre><code class="html">
&lt;table class="table table-hover"&gt;...&lt;/table&gt;
</code></pre>
</div>
<hr />
<h2 id="tables-accordion">Accordion Tables</h2>
<div accordion-table="test"></div>
<div class="highlight" highlight>
<pre><code class="html">
&lt;div class=&quot;table-collapse&quot; toggle-class=&quot;open&quot;&gt;
    &lt;div class=&quot;header&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;table class=&quot;table table-hover&quot;&gt;...&lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>
<hr />
<h2 id="tables-accordion-group">Accordion Table Group</h2>
<div class="table-collapse-group">
<div class="table-collapse" ng-class="{'open': open1}">
        <div class="header" ng-click="open1 = !open1">
            <span class="icon-status success"></span> Work in Progress
        </div>
        <div class="content">
            <div basic-table="table" class="table-hover"></div>
        </div>
    </div>
    <div class="table-collapse" ng-class="{'open': open2}">
        <div class="header" ng-click="open2 = !open2">
            <span class="icon-status success"></span> Work in Progress
        </div>
        <div class="content">
            <div basic-table="table" class="table-hover"></div>
        </div>
    </div>
</div>
<div class="highlight" highlight>
<pre><code class="html">
&lt;div class=&quot;table-collapse-group&quot;&gt;
    &lt;div class=&quot;table-collapse&quot; toggle-class=&quot;open&quot;&gt;
        &lt;div class=&quot;header&quot;&gt;...&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;table class=&quot;table table-hover&quot;&gt;...&lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;table-collapse&quot; toggle-class=&quot;open&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>
