<h1 id="validation">Validation</h1>
<hr />
<h3>Input states</h3>
<form class="form">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group has-success">
                <label class="form-label">
                    <input class="form-control" placeholder="Enter name" type="text" value="amazing-client">
                    <span>amazing-client is available</span>
                </label>
            </div>
            <div class="highlight" highlight><code class="html"><pre>.form-group .has-success</pre></code></div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-error">
                <label class="form-label">
                    <input class="form-control" placeholder="Enter email" type="email" value="bad@e">
                    <span>bad@e is not a valid email address</span>
                </label>
            </div>
            <div class="highlight" highlight><code class="html"><pre>.form-group .has-error</pre></code></div>
        </div>
        <div class="col-sm-4">
            <div class="form-group has-warning">
                <label class="form-label">
                    <input class="form-control" placeholder="Enter name" type="text" value="test-name">
                    <span>test-name is similar to another name</span>
                </label>
            </div>
            <div class="highlight" highlight><code class="html"><pre>.form-group .has-warning</pre></code></div>
        </div>
    </div>
</form>
<hr />
<h2 id="demo">Form states</h2>
<hr/>
<form name="validationForm" class="form" novalidate>
    <div ng-show="validationForm.$invalid && validationForm.$pristine" class="alert alert-danger">
        There were <strong>{{validationForm.$error|errorCount}}</strong> errors submitting this form
    </div>
    <div class="form-group" ng-class="{'has-error': validationForm.name.$invalid}">
        <label class="form-label required">
            <span>Name</span>
            <input ng-model="user.name" name="name" class="form-control" placeholder="Enter name" type="text" required>
            <p ng-show="validationForm.name.$invalid" class="help-block">
                name is required
            </p>
        </label>
    </div>
    <div class="form-group" ng-class="{'has-error': validationForm.email.$invalid}">
        <label class="form-label">
            <span>Email</span>
            <input name="email" ng-model="user.email" class="form-control" placeholder="Enter email" type="email">
            <p ng-show="validationForm.email.$invalid" class="help-block">
                not a valid email address
            </p>
        </label>
    </div>
    <div class="form-checkbox">
        <label>
            <input type="checkbox" class="checkbox checkbox-light" />
            <span>Remember me</span>
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr />
<h2 id="alerts">Alerts</h2>
<hr />
<h3>Standard Error</h3>
<div create-snippet="html" class="alert alert-danger">
    <p>Your profile could not be updated</p>
</div>
<h3>Error with link</h3>
<div create-snippet="html" class="alert alert-danger">
    <p>Your profile could not be updated <a href="">Do action</a></p>
</div>
<h3>Standard Success</h3>
<div create-snippet="html" class="alert alert-success">
    <p><strong>Account Name</strong> has been changed. <a href="">Click to undo</a></p>
</div>
<h3>Standard Info</h3>
<div create-snippet="html" class="alert alert-info">
    <p>A new feature has been added. <a href="">Check it out here</a></p>
</div>
