<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Mixpo Style Guide</title>
    <link rel="stylesheet" href="styles/core.css">
    <link rel="stylesheet" href="styles/color-brewer.css">
    <link rel="stylesheet" href="styles/screen.css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700|Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="notifications">
    <div class="notification">
    </div>
</div>
<div class="body" ui-view>
</div>
<% if (production) { %>
<script src="/scripts/app.js"></script>
<% } else { %>
<div class="footer"><a ui-sref="style-guide">Style Guide</a> |
    <a ui-sref="cm.clients">Campaign Management</a></div>
<script src="components/requirejs/require.js" data-main="main.js"></script>
<script src="//localhost:35730/livereload.js"></script>
<% } %>
<script>
    window.disableRouter = true;
</script>
</body>
</html>
