<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mixpo Style Guide</title>
    <link rel="stylesheet" href="styles/screen.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link href='http://fonts.googleapis.com/css?family=Lato|Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="body" ui-view>
</div>
<!-- <script src="/scripts/app.js"></script> -->
<script src="components/requirejs/require.js" data-main="main.js"></script>
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
