<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mixpo Style Guide</title>
    <link rel="stylesheet" href="styles/core.css">
    <link rel="stylesheet" href="styles/color-brewer.css">
    <link rel="stylesheet" href="styles/screen.css">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link href='//fonts.googleapis.com/css?family=Lato|Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
<div ui-view></div>
<script src="core.js"></script>
<script src="//localhost:35730/livereload.js"></script>
</body>
</html>
