<div ng-if="creativeType && creativeType !== 'inStreamVideo'">
	<div class="form-group row"
			 ng-class="{'has-error': newPlacement.adTag.$invalid && submitted}">
		<h3>
			<span>Setup Ad Tag</span>
		</h3>
		<hr>

		<label for="ad-tag" class="col-sm-3 form-label required"><span>Ad Tag Type</span></label>
		<div class="col-sm-9">
			<select id="ad-tag" select2
							name="adTag"
							ng-options="tag.id as tag.name for tag in tagTemplates track by tag.id"
							ng-model="placement.adTagId" required>
			</select>

			<p ng-show="newPlacement.adTag.$invalid && submitted"
				 class="help-block">
				ad tag is required
			</p>
		</div>
	</div>

	<div class="form-group row" ng-show="placement.adTagId">

		<label for="ad-tag" class="col-sm-3 form-label"><span>Ad Tag</span></label>
		<div class="col-sm-9">
			<textarea rows="8" style="resize:none;" class="form-control" disabled>{{adTagText}}</textarea>
		</div>
	</div>
</div>