<div>
	<div class="form-group row"
			 ng-class="{'has-error': (newPlacement.startDate.$invalid || newPlacement.endDate.$invalid) && submitted}">
		<label
			class="col-sm-3 form-label required"><span>Flight Dates</span></label>

		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-4">
							Start Date:
						</div>
						<div class="col-sm-8">
							<div class="input-group">
								<input class="form-control" type="text"
											 name="flightStart"
											 datepicker-popup="{{format}}"
											 ng-model="placement.flightStart"
											 is-open="datePickers.startDateOpened"
											 min-date="minDate"
											 ng-blur="formatDate($event)"
											 datepicker-options="dateOptions"
											 date-disabled="false"
											 ng-required="true" close-text="Close"
											 show-weeks="false"/>
									<span class="input-group-btn">
											<button class="btn btn-inline"
															ng-click="openPicker($event, 'startDateOpened')">
												<i class="glyph-calendar"></i>
											</button>
									</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-4">
							End Date:
						</div>
						<div class="col-sm-8">
							<div class="input-group">
								<input class="form-control" type="text"
											 name="flightEnd"
											 datepicker-popup="{{format}}"
											 ng-model="placement.flightEnd"
											 is-open="datePickers.endDateOpened"
											 min-date="minDate"
											 ng-blur="formatDate($event)"
											 datepicker-options="dateOptions"
											 date-disabled="false"
											 ng-required="true" close-text="Close"
											 show-weeks="false"/>
								<span class="input-group-btn">
										<button class="btn btn-inline"
														ng-click="openPicker($event, 'endDateOpened')">
											<i class="glyph-calendar"></i>
										</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<p
					ng-show="(newPlacement.startDate.$invalid || newPlacement.endDate.$invalid) && submitted"
					class="help-block">
					start and end dates are required
				</p>
			</div>

		</div>
	</div>
</div>