<h1 id="tables">Tables</h1>
<hr />
<h2 id="tables-basic">Basic table with header</h2>
<table class="table">
    <thead>
    <tr>
        <th ng-repeat="header in table.headers track by $index">
            {{header.main}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in table.data track by $index">
        <td ng-repeat="(key, value) in row">
            <div class="cell">
                {{value|format:key:table.rules}}
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="highlight" highlight>
<pre><code class="html">&lt;table class="table"&gt;...&lt;/table&gt;</code></pre>
</div>
<hr />
<h2 id="tables-hover">Basic table with hover</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th ng-repeat="header in table.headers track by $index">
            {{header.main}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in table.data track by $index">
        <td ng-repeat="(key, value) in row">
            <div class="cell">
                {{value|format:key:table.rules}}
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="highlight" highlight>
    <pre><code class="html">
        &lt;table class="table table-hover"&gt;...&lt;/table&gt;
    </code></pre>
</div>
<hr />
<h2 id="tables-accordion">Accordion Tables</h2>
<div class="table-collapse" toggle-class="open">
    <div class="header">
        <span class="icon-status success"></span> Work in Progress
    </div>
    <div class="content" accordion-height>
        <table class="table table-hover">
            <thead>
            <tr>
                <th ng-repeat="header in table.headers track by $index">
                    {{header.main}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in table.data track by $index">
                <td ng-repeat="(key, value) in row">
                    <div class="cell">
                        {{value}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="highlight" highlight>
<pre><code class="html">
&lt;div class=&quot;table-collapse&quot; toggle-class=&quot;open&quot;&gt;
    &lt;div class=&quot;header&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;table class=&quot;table table-hover&quot;&gt;...&lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>
<hr />
<h2 id="tables-accordion-group">Accordion Table Group</h2>
<div class="table-collapse-group">
<div class="table-collapse" toggle-class="open">
        <div class="header">
            <span class="icon-status success"></span> Work in Progress
        </div>
        <div class="content" accordion-height>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th ng-repeat="header in table.headers track by $index">
                        {{header.main}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in table.data track by $index">
                    <td ng-repeat="(key, value) in row">
                        <div class="cell">
                            {{value}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="table-collapse" toggle-class="open">
        <div class="header">
            <span class="icon-status success"></span> Work in Progress
        </div>
        <div class="content" accordion-height>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th ng-repeat="header in table.headers track by $index">
                        {{header.main}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in table.data track by $index">
                    <td ng-repeat="(key, value) in row">
                        <div class="cell">
                            {{value}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="highlight" highlight>
<pre><code class="html">
&lt;div class=&quot;table-collapse-group&quot;&gt;
    &lt;div class=&quot;table-collapse&quot; toggle-class=&quot;open&quot;&gt;
        &lt;div class=&quot;header&quot;&gt;...&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;table class=&quot;table table-hover&quot;&gt;...&lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;table-collapse&quot; toggle-class=&quot;open&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>
<!---
<hr />
<table class="table table-row-collapse table-hover" ng-class="{'video': 'video', 'social': 'social'}[state]">
    <thead>
    <tr class="table-row-collapse-header">
        <th></th>
        <th ng-click="state = ''" ng-attr-colspan="{{{'video': '1', 'social': '1', '':'3'}[state]}}">Overview</th>
        <th ng-click="state = 'video'" ng-attr-colspan="{{{'video': '3', 'social': '1', '':'1'}[state]}}">Video Performance</th>
        <th ng-click="state = 'social'" ng-attr-colspan="{{{'video': '1', 'social': '5', '':'1'}[state]}}">Social</th>
    </tr>
    <tr>
        <th ng-repeat="header in tableComplex.headers track by $index" ng-click="sort(header.column, $event)" ng-class="{overview: 'overview', 'video': 'video', 'social': 'social'}[header.group]">
            {{header.value}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr toggle-class="open" ng-repeat="row in tableComplex.data track by $index">
        <td ng-repeat="(key, value) in row.row" ng-class="{overview: 'overview', 'video': 'video', 'social': 'social'}[value.group]">
            <div class="cell">
                <div class="header">
                    {{value.value|format:key:tableComplex.rules}}
                    <div ng-if="value.action == 'bar'" class="bar-chart" bar-chart="value"></div>
                    <span ng-if="$index == 0" class="placements" ng-pluralize count="row.placements.length"
                      when="{'0': 'No placements',
                       'one': '1 placement',
                       'other': '{} placements'}"></span>
                </div>
                <div class="content">
                    <div ng-repeat="placement in row.placements" class="table-cell">
                        {{placement[key]|format:key:tableComplex.rules}}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
-->
