<div ng-if="showAccountMsg">
	<div class="no-content">
	    <!-- <div class="glyph-benchmarks"></div> -->
	    <h3>It appears you don't have any accounts.</h3>
	    <p>Let's fix that! Click to add an account.</p>
	    <button class="btn btn-default solid" ng-click="openNewAccountModal()">Add New Account</button>
	</div>
</div>

<div ng-if="showCampaignMsg">
	<div class="no-content">
	    <!-- <div class="glyph-benchmarks"></div> -->
    	<h3>It appears you don't have any campaigns.</h3>
      <p>Please add a campaign in order to proceed.</p>
    	<button class="btn btn-default solid" ng-click="openNewCampaignModal()">Add New Campaign</button>
	</div>
</div>

