<div ui-view="campaignsByStatus">
    <div accordion-table="byStatus.preFlight.data" class="table table-hover"></div>
    <a ng-click="byStatus.preFlight.loadMore()">more</a>
    <div accordion-table="byStatus.inFlight.data" class="table table-hover"></div>
    <a ng-click="byStatus.inFlight.loadMore()">more</a>
    <div accordion-table="byStatus.completed.data" class="table table-hover"></div>
    <a ng-click="byStatus.completed.loadMore()">more</a>
    <div accordion-table="byStatus.archived.data" class="table table-hover"></div>
    <a ng-click="byStatus.archived.loadMore()">more</a>
</div>
