<nav class="navbar jumbo navbar-default" ng-class="{'navbar-open': open}">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="open = !open">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="dropdown navbar-right settings">
            <a href="" class="btn btn-primary solid dropdown-toggle"><i class="glyph-chevron-down"></i>Settings</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated </a></li>
            </ul>
        </div>
        <a class="logo" href=""></a>
    </div>
    <div class="navbar-overlay" ng-if="open" ng-click="$parent.open = false"></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse">
        <ul class="nav navbar-right">
            <li><a ng-click="transition('cm', $event)" ng-class="{'active': $state.includes('cm')}">Campaign Management</a></li>
            <li><a class="primary" ng-click="transition('analytics', $event)" ng-class="{'active': $state.includes('analytics')}">Analytics</a></li>
        </ul>
        <ul class="nav navbar-left">
            <li class="dropdown" client-dropdown>
            </li>
            <li class="dropdown" division-dropdown>
            </li>
            <li class="dropdown" account-dropdown>
            </li>
            <li class="dropdown" campaign-dropdown>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
