<div class="table-collapse-group">
    <div ng-if="row.content.data.length" ng-init="init(row.content.data.length, this)" ng-repeat="row in table track by $index" class="table-collapse" ng-class="{'open': open}">
        <div class="header" ng-bind-html="row.header|interpolate:row|safe" ng-click="open = !open">
        </div>
        <div class="content">
            <div class="table-wrapper table-xs-scroll">
                <div class="table-hover" basic-table="row.content"></div>
            </div>
            <div ng-if="row.options.more && row.content.data.length >= 10" class="table-footer">
                <a ng-click="row.options.more()">Show More</a>
            </div>
        </div>
    </div>
</div>
