<table class="table" ng-class="classes">
    <thead>
    <tr>
        <th ng-repeat="header in table.headers track by $index">
            {{header.name}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in table.data track by $index">
        <td data-header="{{header.name && header.name + ':'}}" ng-repeat="header in table.headers" compile="header.id|format:row:table.rules">
        </td>
        <td class="table-number">&ndash;<span>{{$index + 1}} of {{table.data.length}}</span>&ndash;</td>
    </tr>
    </tbody>
</table>

