.creative-preview {
    color: #fff;
    font-size: 1.2rem;
    text-align: left;
    padding: 0 0.5rem;
    width: 320px;

    .preview-overlay {
        .font-size(1.6);
    }

    .preview-modal-header {
        .clearfix();
        margin-bottom: 0.8rem;
        i {
            margin-right: 1rem;
        }
        a {
            display: inline-block;
            color: @light-blue;
            &:hover {
                color: #fff;
            }
            & + a {
                margin-left: 1rem;
            }
        }
        .close {
            position: absolute;
            top: 5px;
            right: 1rem;
            .font-size(1.5);
        }
    }

    .ratio-box.loading .preview-overlay {
        display: none;
        cursor: default;
    }

    .ratio-box.loading:before {
        content: '';
        background: url('/images/loader-dark.gif');
        position: absolute;
        top: 50%;
        left: 50%;
        height: 24px;
        width: 24px;
        margin-top: -12px;
        margin-left: -12px;
        display: inline-block;
    }

    .thumbnail-wrapper {
        margin-bottom: 1rem;
        width: calc(~'100% + 4rem');
        position: relative;
        left: -2rem;
        border: 1px solid @dark-gray;
        border-width: 0 1px;
        box-sizing: border-box;
        .ratio-box img {
            border: 1px solid @dark-gray;
            border-width: 1px 0 0;
        }
    }

    .preview-info {
        tr > td:first-child {
            padding-right: 1.5rem;
        }
    }


}
