.clearfix {
    &:after, &:before {
        display: table;
        content: " ";
        clear:both;
    }
}
.font-smoothing {
	// This is to get the font weight closer to what the designs show
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.border-right-radius(@radius) {
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
}

.border-left-radius(@radius) {
    border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
}

.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display-flex {
    display: flexbox;           /* 2012 Spec */
    display: -webkit-box;       /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;          /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;       /* TWEENER - IE 10 */
    display: -webkit-flex;      /* NEW - Chrome */
    display: flex;
}

.is-link {
    color: @brand-color;
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: @brand-color
    }
    &:hover {
        color: @light-blue;
    }
    &:active {
        color: @dark-blue;
    }
}
