.clearfix {
    &:after, &:before {
        display: table;
        content: " ";
        clear:both;
    }
}
.font-smoothing {
	// This is to get the font weight closer to what the designs show
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.border-right-radius(@radius) {
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
}

.border-left-radius(@radius) {
    border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
}

.is-link {
    color: @brand-color;
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: @brand-color
    }
    &:hover {
        color: @light-blue;
    }
    &:active {
        color: @dark-blue;
    }
}
