@nav-item-bg: #026baa;
@settings-hover-bg: #004e7d;
@nav-item-hover-bg: #fff;
@nav-item-color: #fff;
@nav-subtitle-border: #003c60;
@nav-border-hover: #0378bd;

.navbar-header {
    .logo {
        display: inline-block;
        background: data-uri('../../images/mixpologo.svg');
        @media (min-width: @grid-float-breakpoint) {
            margin-bottom: 40px;
            height: 38px;
            width: 190px;
        }
        @media (max-width: @grid-float-breakpoint) {
            float: right;
            margin-top: 9px;
            margin-right: 15px;
            background-size: 160px 32px;
            height: 32px;
            width: 160px;
            background-repeat: no-repeat;
        }
    }

    .settings {
        &.open {
            .dropdown-toggle {
                background: @settings-hover-bg;
            }
        }
        .dropdown-toggle {
            background: @nav-item-bg;

            &:hover {
                background: @settings-hover-bg;
            }
        }
        margin-top: -4rem;
        @media (max-width: @grid-float-breakpoint) {
            display: none;
        }
    }

}

.navbar-default {
    background: @brand-color;

    .nav > li > a {
        &.primary.active, &.primary:hover {
            background: @dark-blue;
            color: @nav-item-color;
        }

        display: inline-block;
        background: @nav-item-bg;
        color: @white;

        &:hover, &.active {
            background: @nav-item-hover-bg;
            color: @brand-color;
        }
    }

    .dropdown-toggle {
        background: @nav-item-bg;
        color: @nav-item-color;
        .dropdown-toggle-subtitle {
            border-color: @nav-subtitle-border;
        }

        &:hover {
            background: @settings-hover-bg;
            .dropdown-toggle-subtitle {
                border-color: @nav-border-hover;
            }
        }
    }

    .navbar-collapse {
        .open {
            .dropdown-toggle {
                background: @settings-hover-bg;
            }

            .dropdown-toggle-subtitle {
                border-color: @nav-border-hover;
            }
        }

        .dropdown-menu {
            background: @settings-hover-bg;
            a {
                color: #99d2f3;
                &:hover {
                    color: #a8d7f3;
                }
            }
        }
    }

    .navbar-toggle {
        background: @nav-item-bg;

        &:hover {
            background: @settings-hover-bg;
        }

        .icon-bar {
            background-color: @nav-item-color;
        }
    }
}

.navbar {
    box-sizing: border-box;
    position: relative;
    .clearfix();

    .navbar-toggle {
        position: relative;
        float: left;
        padding: 9px 10px;
        margin-top: 8px;
        margin-left: 15px;
        margin-bottom: 8px;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;

        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            margin-right: 0;
            + .icon-bar {
                margin-top: 4px;
            }
        }
    }

    .nav {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            float: left;
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
            > a {
                font-weight: bold;
                padding: 0 2rem;
                line-height: 6rem;
            }
        }
    }

    .settings {
        .dropdown-toggle {
            text-align:left;
            min-width: 190px;
            line-height: 4rem;
            padding: 0 2rem;
            .glyph-cheveron-down {
                float: right;
                vertical-align: middle;
            }
        }
    }

    @media (min-width: @grid-float-breakpoint) {
        padding-top: 40px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (min-width: @screen-md-min) {
        padding-top: 40px;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;

    .dropdown-menu {
        right: 0;
        left: auto;
    }

    &.nav {
        > li {
            &:first-child {
                margin-left: 0;
            }
            margin-left: 2rem;
            margin-right: 0;
        }
    }
}

.navbar-toggle {
    @media (min-width: @grid-float-breakpoint) {
        display: none;
    }
}

.navbar-collapse {
    .clearfix();

    .nav {
        .clearfix();
    }

    .navbar-right {
        margin-top: 3rem;
    }

    .dropdown-toggle {
        width: 190px;
        padding: 6px 10px 0 10px;
    }

    .dropdown-toggle-subtitle {
        .font-size(1.2);
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 2px solid transparent;
        padding-bottom: 3px;
    }

    .dropdown-menu {
        .clearfix();
        width: 410px;
        box-sizing: border-box;
        padding: 0 20px 20px 20px;
        .dropdown-search {
            margin-top: 1rem;
            border-bottom: 1px solid #fff;
            display: block;
            .clearfix();
            .input {
                color: @nav-item-color;
                padding: 0;
                width: 350px;
                line-height: 2.4rem;
                float: right;
            }
        }
        .list {
            width: 50%;
            padding: 0;
            margin: 0;
            list-style: none;
            font-weight: bold;
            .font-size(1.2);
            float:left;
            > li {
                margin-top: 1rem;
            }
            a {
                display: inline-block;
                text-transform: none;
                font-weight: normal;
                .font-size(1.4);
            }
            ul {
                list-style: none;
                margin:0;
                padding: 0;
            }
            color: @nav-item-color;
            text-transform: uppercase;
        }

        .pin {
            font-style: normal;
            float: right;
            display: inline-block;

            .unpin, .repin {
                display: none;
            }

            &:hover {
                .repin {
                    display: inline-block;
                }
                &:before {
                    margin-top: 2px;
                    margin-right: 5px;
                    .glyph-pin-left();
                }
            }

            &:before {
                height: 0;
                margin-top: 0;
                margin-right: 0;
                margin-left: 5px;
                display: inline-block;
                font-family: "mixpo-icons";
                .glyph-pin-down();
                vertical-align: top;
            }

        }

        .pinned {
            .pin {

                &:before {
                    .glyph-pin-left();
                }


                &:hover {
                    .repin {
                        display: none;
                    }
                    .unpin {
                        display: inline-block;
                    }
                    &:before {
                        margin-top: 0;
                        margin-right: 0;
                        .glyph-pin-down();
                    }
                }
            }
        }
    }

    .dropdown-toggle-title {
        line-height: 6rem;
        font-family: 'Oswald', sans-serif;
        width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .glyph-cheveron-down {
            float: right;
        }
    }

    @media (max-width: @grid-float-breakpoint) {
        display: none;
    }
}
