@nav-item-bg: #026baa;
@nav-item-hover-bg: #fff;
@nav-item-color: #fff;

.navbar-header {
    .logo {
        height: 38px;
        width: 190px;
        margin-bottom: 40px;
        display: inline-block;
        background: data-uri('../../images/mixpologo.svg');
    }
    .settings {
        .dropdown-toggle {
            background: @nav-item-bg;
        }
        margin-top: -4rem;
    }

}

.navbar-default {
    background: @brand-color;

    .nav > li > a {
        &.primary.active {
            background: @dark-blue;
            color: @nav-item-color;
        }

        display: inline-block;
        background: @nav-item-bg;
        color: @white;

        &:hover, &.active {
            background: @nav-item-hover-bg;
            color: @brand-color;
        }
    }
}

.navbar {
    padding-top: 40px;
    box-sizing: border-box;
    position: relative;
    .clearfix();

    .nav {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            float: left;
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
            > a {
                padding: 0 2rem;
                line-height: 6rem;
            }

        }
    }

    @media (min-width: @grid-float-breakpoint) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (min-width: @screen-md-min) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;

    .dropdown-menu {
        right: 0;
        left: auto;
    }

    &.nav {
        > li {
            &:first-child {
                margin-left: 0;
            }
            margin-left: 2rem;
            margin-right: 0;
        }
    }
}

.navbar-toggle {
    @media (min-width: @grid-float-breakpoint) {
        display: none;
    }
}

.navbar-collapse {
    width: auto;
    bottom: 0;

    .clearfix();

    @media (max-width: @grid-float-breakpoint) {
        display: none;
    }
}
