.quartiles {
    &.row {
      p {
        padding: 0 5px;
      }
    }
    .vertical-bar-graph-wrapper {
      .percentage {
        font-family: 'Oswald';
        width: 100%;
        height: 3rem;
      }
      svg {
          height: 100%;
          font-family: 'Oswald';
          text {
            fill: @dark-gray;
          }
      }
      span {
        width: 100%;
        display: block;
        &.percentage {
          font-family: 'Oswald';
        }
        &.quartile {
          font-size: 1rem;
        }
      }
      .bar-graph {
        width: 100%;
        height: 50px;
        .achieved {
          fill: @brand-color;
          -webkit-transition: width 0.5s ease;
          transition: width 0.5s ease;

        }
        .bg {
          fill: @light-gray;
        }    
      }

    }
  
}
