@import "variables";

.header-summary {
    margin: 4rem 0;
    &:extend(.clearfix all);

    .you-work-on {
        display: inline-block;
    }

    .title, .list {
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    .dropdown-toggle {
        .font-size(2);
    }

    > .dropdown {
        float: left;
    }

    .dropdown-toggle {
        display: none;
    }
    .dropdown-menu, .open .dropdown-menu {
        display: block;
    }
    .list + .list {
        margin-left: 3.5rem;
    }

    @media(max-width: @screen-xs-max) {
        .dropdown-toggle {
            display: block;
        }
        .dropdown-menu {
            display: none;
        }
        .list + .list {
            margin-left: 0;
        }
    }

    .dropdown-menu {
        position: static;
        top: inherit;
        left: inherit;
        float: none;
        background: white;
    }

    .title {
        text-transform: uppercase;
        margin-right: 3.5rem;
    }

    .list {
        padding: 0;
        list-style: none;
        li {
            + li {
                margin-left: 3.5rem;
            }
            display: inline-block;
            span {
                display: block;

                &:first-child {
                    .font-size(1.2); //TODO: fix
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    font-weight: bold;
                    line-height: 1;
                    margin: 0 0 7px 0;
                }
                &:last-child {
                    font-family: 'Oswald', sans-serif;
                    .font-size(3);
                    color: @brand-color;
                }
            }
        }
    }
}

@media(max-width: 1250px
) and (min-width: @screen-xs-max) {
    .header-summary {
        .btn-group {
            width: 150px;
            .btn {
                width: 100%;
                + .btn {
                    margin-top: .5rem;
                }
            }
        }
    }
}

@media (max-width: @screen-xs-max) {
    .header-summary {
        margin: 0 -@mobile-gutter;

        .dropdown-menu {
            &:extend(.clearfix all);
        }

        .btn-group {
            padding: 0 @mobile-gutter;
        }

        .dropdown-toggle {
            box-sizing: border-box;
            border-bottom: 1px solid @light-gray;
            font-family: 'Oswald', sans-serif;
            padding: 1rem @mobile-gutter;
            line-height: 1.47;
            letter-spacing: 1px;
            .font-size(2);
            &:extend(.clearfix all);
            i {
                margin: 10px 0 0 2rem;
                line-height: 18px;
                float: right;
            }
        }

        > .dropdown {
            display: block;
            float: none;
        }

        .title {
            display: none;
        }

        .list {
            li {
                + li {
                    margin-left: 2rem;
                }
            }

            display: block;
            padding: 3px @mobile-gutter;
            box-sizing: border-box;
            li span {

                &:first-child {
                    .font-size(1.2);
                    margin: 5px 0 7px 0;
                }
                &:last-child {
                    .font-size(2);
                }
            }
            + .list {
                border-top: 1px solid @light-gray;
            }
            &:last-child {
                border-bottom: 1px solid @light-gray;
            }
        }
    }
}
