.header-summary {
    margin: 2rem 0 1rem 0;
    .clearfix();

    .title, .list {
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    .title {
        text-transform: uppercase;
        margin-right: 3.5rem;
    }

    .list {
        padding: 0;
        list-style: none;
        li {
            + li {
                margin-left: 3.5rem;
            }
            display: inline-block;
            span {
                display: block;

                &:first-child {
                    .font-size(1.2); //TODO: fix
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:last-child {
                    font-family: 'Oswald', sans-serif;
                    .font-size(3);
                    color: @brand-color;
                }
            }
        }
    }
}
