@table-header-bg: @dark-gray;
@table-striping: @white;
@table-bg: #fff;
@table-hover-bg: #cde4f2;
@table-hover-accent: @brand-color;
@table-collapse-border: #707274;

table {
    max-width: 100%;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin-bottom: 3rem;
    > thead {
        .font-size(1.2);
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        > tr {
            background: @table-header-bg;
            color: #fff;
            > th {
                padding: 1.2rem 2rem;
            }
        }
    }
    > tbody {
        .font-size(1.4);
        font-weight: bold;
        color: @dark-gray;
        > tr:last-child {
            border-bottom: 2px solid @table-header-bg;
        }
        > tr {
            background: @table-bg;
            &:nth-child(2n+1) {
                background: @table-striping;
            }
            > td {
                vertical-align: top;
                padding: 2.2rem 2rem 2.2rem 1.5rem;
            }
        }
    }
    &.table-hover {
        > tbody > tr:hover {
            background: @table-hover-bg;
            > td:first-child > .cell:before {
                position: absolute;
                content: '';
                width: 5px;
                background: @brand-color;
                top: 0;
                left: 0;
                bottom: 0;
            }
        }
        > tbody > tr > td {
            padding: 0;
            > .cell {
                padding: 2.2rem 2rem 2.2rem 1.5rem;
                position: relative;
            }
        }
    }
    &.table-row-collapse {
        table-layout: fixed;
        .table-row-collapse-header {
            background: transparent;
            color: #3c3c3c;
            font-weight: bold;
            .font-size(1.2);
            text-transform: none;
            border: 1px solid #b7b7b7;
            border-bottom: none;
            > th + th {
                cursor: pointer;
                border-left: 1px solid #b7b7b7;
            }
        }
        &.social {
            .overview, .video {
                display: none;
            }
            .social {
                display: table-cell;
            }
        }
        &.video {
            .overview, .social {
                display: none;
            }
            .video {
                display: table-cell;
            }
        }
        th {
            white-space:nowrap;
            &:first-child {
                width: 33%;
            }
        }
        .video, .social {
            display: none;
        }
        td {
            .bar-chart {
                margin-left: 1rem;
                vertical-align: middle;
                float:right;
                width:40px;
            }
            + td {
                border-left: 1px solid #b7b7b7;
            }

            .header {
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .content {
                display: none;
            }
            &:first-child {
                color: @brand-color;
            }
            &:last-child {
                border-right: none;
            }
        }
        tr.open {
            background: @table-hover-bg;
            > td:first-child > .cell:before {
                position: absolute;
                content: '';
                width: 5px;
                background: @brand-color;
                top: 0;
                left: 0;
                bottom: 0;
            }
            .content {
                display: block;
            }
        }
        td:first-child .table-cell {
            margin-left: 2rem;
        }
        .table-cell {
            font-weight: normal;
            margin: 2.2rem 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: @dark-gray;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.table-collapse-group {
    .table-collapse {
        > .header {
            border-radius: 0;
        }
        & + .table-collapse {
            > .header {
                border-top: none;
            }
        }
        &.open + .table-collapse {
            > .header {
                border-top: 1px solid;
            }
        }
        &:first-child {
            > .header {
                border-top-left-radius: 0.2rem;
                border-top-right-radius: 0.2rem;
            }
        }
        &:last-child {
            > .header {
                border-bottom-left-radius: 0.2rem;
                border-bottom-right-radius: 0.2rem;
            }
        }

    }
}

.table-collapse {
    &.open {
        > .content {
            display: block;
        }
        > .header {
            &:after {
                .glyph-cheveron-down();
            }
        }
    }
    > .header {
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid @table-collapse-border;
        //border-radius: 0.2rem; TODO:
        font-weight: bold;
        .font-size(1.6);
        padding: 1.3rem 2rem;
        position: relative;
        &:after {
            font-family: "mixpo-icons";
            position: absolute;
            .glyph-cheveron-up();
            right: 20px;
            top: 50%;
            margin-top: -8px;
        }
    }
    > .content {
        display: none;
        > .table {
            margin-bottom: 0;
        }
    }
    &.group:first-child {
        > .header {
            border-radius: 0.2rem 0.2rem 0 0;
            border-bottom: none;
        }
    }
    &.group:last-child {
        > .header {
            border-bottom: 1px solid @table-collapse-border;
            border-radius: 0 0 0.2rem 0.2rem;
        }
    }
}
