@import "variables";
@import "brand";

@background: white;
@tab-border-color: @light-gray;
@blur-tab-text-color: @light-gray;
@tab-text-color: @dark-gray;

.nav-tabs {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid @tab-border-color;
    li {
        .noselect;
        display: inline-block;

        padding: 1.5rem 2.5rem;
        margin-left: 1rem;
        margin-bottom: -1px;

        border-radius: 1px 1px 0 0;
        border: 1px solid @tab-border-color;
        border-bottom-color: transparent;

        color: @blur-tab-text-color;
        font-size: 1.8rem;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;

        &:first-child {
            margin-left: 2rem;
        }
    }
    li.active {
        color: @tab-text-color;
        border-bottom-color: white;
        z-index: 2;
    }
}

.nav-tabs-content {
    padding:3.5rem 0;
    background-color: @background;
}
