@import "vendor";
@import "./../mixins";
@import "./../brand";

@select-blue: #8bc2e2;
@select-hover: #004e7d;
@select-border-radius: 0;
@select-dropdown-border-radius: 0;
@select-border-color: @black;
@select-choice-color: #fff;
@select-choice-bg: @brand-color;
@select-arrow-hover-bg: @light-gray;

.select2-container {
    &.select2-container--focus {
        .select2-selection--multiple {
            border: 0;
            border-bottom: 1px solid @brand-color;
        }
    }
    .select2-selection--multiple {
        padding: 0 5px;

        .select2-selection__choice__remove {
            &:before {
                .glyph-close();
                font-size: 1rem;
                margin-right: 0.4rem;
                color: @select-choice-color;
            }
            font-size: 0;
        }

        .select2-selection__choice {
            margin-top: 0;
            overflow: hidden;
            max-width: 100%;
            text-overflow: ellipsis;
            box-sizing: border-box;
            line-height: 1.5;
            .font-size(1.2);
            margin-bottom: 5px;
            background: @select-choice-bg;
            border: 1px solid darken(@select-choice-bg, 20%);
            color: @select-choice-color;
            font-weight: bold;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            padding: 0 5px;
        }
        border: 0;
        border-bottom: 1px solid @select-border-color;
        border-radius: @select-border-radius;

        .select2-selection__rendered {
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background: #ccc;
        color: inherit;
    }

    .select2-results__option[aria-selected=true] {
        opacity: .4;
        background: inherit;
    }

    .select2-selection--single {
        position: relative;
        height: 3.4rem;
        line-height: 3.4rem;
        border-color: @select-border-color;
        .select2-selection__arrow {
            top: 0;
            right: 0;
            height: 100%;
            width: 3.4rem;
            border-left: 1px solid;
            border-color: inherit;
            display: inline-block;
            position: absolute;

            b {
                position: initial;
                border: 0;
                left: auto;
                top: auto;
                height: auto;
                width: auto;
                margin: 0;
                padding: 0;
                background: inherit;
                &:before {
                    .glyph-chevron-down();
                    font-size: 1rem;
                    color: inherit;
                    position: absolute;
                    transform: translateX(-50%) translateY(-40%);
                    top: 50%;
                    left: 50%;
                }
            }
        }
        border: 1px solid @select-border-color;
        border-radius: @select-border-radius;
        .select2-selection__rendered {
            line-height: 3.4rem;
            color: inherit;
        }
    }
   .select2-search--dropdown {
       &.select2-search {
           padding: 1rem;
           &:before {
               .glyph-search();
               position: absolute;
               margin-top: 2px;
           }
       }
       .select2-search__field {
           background: inherit;
           outline: none;
           font-family: Lato,sans-serif;
           border: 0;
           border-bottom: 1px solid;
           border-color: inherit;
           padding: 4px 20px 4px 20px;
       }
   }
}

.select2-dropdown {
    border-color: @select-border-color;
    border-radius: @select-dropdown-border-radius;
}

.select2-selection--single:hover {
    .select2-selection__arrow {
        background: @select-arrow-hover-bg;
    }
}

.theme-dark {
    .select2-dropdown {
        border-color: @select-blue;
    }
    .select2-container {
        .select2-selection--single {
            background: @dark-blue;
            border-color: @select-blue;
            color: @select-blue;
            &:hover {
                .select2-selection__arrow {
                    background: @select-hover;
                }
            }
        }
    }

    .select2-selection--multiple {
        padding-top: 5px;
        color: @select-blue;
        background: @dark-blue;
    }

    .select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                &:hover {
                    background: @select-blue;
                }
                background: @select-blue;
                color: @dark-blue;
            }
        }
    }
}

.select2-container--theme-dark {
    .select2-dropdown {
        border-color: @select-blue;
        background: @dark-blue;
        color: @select-blue;
    }
    .select2-results__option--highlighted[aria-selected] {
        background: @select-hover;
    }
}

.select2-container--open {
    .select2-selection--single {
        .select2-selection__arrow {
            b {
                &:before {
                    .glyph-chevron-up();
                }
            }
            background: @dark-gray;
            color: @white;
        }
    }
}

.select2-selection {
    outline: none;
}

.select2-results__option {
    padding: 1rem 2rem;
    .font-size(1.3);
    line-height: 1.5;
}



.select2-container .select2-search--inline {
    margin-bottom: 6px;
    line-height: 1.2;
    box-sizing: border-box;
    .select2-selection__rendered {
        background: inherit;
        color: inherit;

    }
    .select2-search__field {
        outline: none;
        margin: 0;
        padding: 0;
        font-family: Lato, sans-serif;
        background: inherit;
        color: inherit;
        .font-size(1.4);
    }
}

.select2-container .select2-selection--multiple {
    min-height: inherit;
}

.select2-selection {
    line-height: 0;
}
