<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>
    <h2 class="modal-title">{{action}} Account</h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form" novalidate name="newAccount">
        <div ng-pluralize ng-show="newAccount.$invalid && submitted" class="alert alert-danger" count="(newAccount.$error | errorCount)"
             when="{'0': 'There are no errors on this form',
                    '1': 'There is 1 error on this form.',
                    'other': 'There are {} errors on this form.'}">
        </div>
        <div ng-if="divisions" class="form-group row" ng-class="{'has-error': (newAccount.divisionId.$invalid || errors.divisionId) && submitted}">
            <label class="col-sm-3 form-label required"><span>Division</span></label>
            <div class="col-sm-9">
                <select id="new-edit-account-division-select" name="division" select2 s2-options="division.id as division.name for division in divisions track by division.id" ng-model="account.divisionId" required>
                </select>
                <p ng-show="newAccount.division.$invalid && submitted" class="help-block">
                    division is required
                </p>
                <p ng-show="errors.divisionId && submitted" class="help-block">
                    {{errors.divisionId}}
                </p>
            </div>
        </div>
        <div class="form-group row" ng-class="{'has-error': (newAccount.name.$invalid || errors.name) && submitted}">
            <label for="new-edit-account-name-field" class="col-sm-3 form-label required"><span>Account Name</span></label>
            <div class="col-sm-9">
                <input id="new-edit-account-name-field" ng-model="account.name" type="text" name="name" class="form-control" placeholder="Enter new account name" required />
                <p ng-show="newAccount.name.$invalid && submitted" class="help-block">
                    account name is required
                </p>
                <p ng-show="errors.name && submitted" class="help-block">
                    {{errors.name}}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label for="new-edit-account-keywords-field" class="col-sm-3 form-label"><span>Account Keywords</span></label>
            <div class="col-sm-9">
                <input id="new-edit-account-keywords-field" ng-model="account.keywords" type="text" class="form-control" placeholder="Enter account keywords" />
            </div>
        </div>
        <div class="form-group row" ng-class="{'has-error': (newAccount.industry.$invalid || errors.industryId) && submitted}">
            <label class="col-sm-3 form-label required"><span>Industry</span></label>
            <div class="col-sm-9">
                <select id="new-edit-account-industry-select" name="industry" select2 s2-options="industry.id as industry.name for industry in industries track by industry.id" ng-model="account.industryId" required>
                </select>
                <p ng-show="newAccount.industry.$invalid && submitted" class="help-block">
                    industry is required
                </p>
                <p ng-show="errors.industryId && submitted" class="help-block">
                    {{errors.industryId}}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-label">Logo</label>
            <div class="col-sm-9 file-selection-wrapper">
                <div file-picker ng-model="account.logo"></div>
            </div>
        </div>
        <div class="form-group row" ng-class="{'has-error': (newAccount.clickthroughUrl.$invalid || errors.clickthroughUrl) && submitted}">
            <label for="new-edit-account-url-field" class="col-sm-3 form-label"><span>Clickthrough URL</span></label>
            <div class="col-sm-9">
                <input id="new-edit-account-url-field" ng-model="account.clickthroughUrl" type="text" ng-pattern="URL_REGEX" class="form-control" name="clickthroughUrl" placeholder="Enter URL" />
                <p ng-show="newAccount.clickthroughUrl.$invalid && submitted" class="help-block">
                    clickthrough url is invalid
                </p>
                <p ng-show="errors.industryId && submitted" class="help-block">
                    {{errors.clickthroughUrl}}
                </p>
            </div>
        </div>
        <div class="form-group row" ng-class="{'has-error': (newAccount.leadCaptureEmail.$invalid || errors.leadCaptureEmail) && submitted}">
            <label for="new-edit-account-email-field" class="col-sm-3 form-label"><span>Lead Capture Email</span></label>
            <div class="col-sm-9">
                <input id="new-edit-account-email-field" ng-model="account.leadCaptureEmail" type="email" class="form-control" name="leadCaptureEmail" placeholder="Enter Lead Capture Email" />
                <p ng-show="newAccount.leadCaptureEmail.$invalid && submitted" class="help-block">
                    lead capture email is invalid
                </p>
                <p ng-show="errors.leadCaptureEmail && submitted" class="help-block">
                    {{errors.leadCaptureEmail}}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-offset-3 col-sm-9">
                <input id="new-edit-account-spanish-checkbox" ng-model="account.enableSpanishPlayer" type="checkbox" class="checkbox checkbox-light" />
                <span>Enable Spanish Player</span>
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="new-edit-account-ok-btn" class="btn btn-primary solid" ng-click="ok(newAccount.$error)">Save Account</button>
    <button id="new-edit-account-cancel-btn" class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
