<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>
    <h2 class="modal-title">New Account</h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form" novalidate name="newAccount">
        <div ng-pluralize ng-show="newAccount.$invalid && submitted" class="alert alert-danger" count="(newAccount.$error | errorCount)"
             when="{'0': 'There are no errors on this form',
                    '1': 'There is 1 error on this form.',
                    'other': 'There are {} errors on this form.'}">
        </div>
        <div class="form-group row" ng-class="{'has-error': newAccount.accountName.$invalid && submitted}">
            <label for="accountName" class="col-sm-3 form-label required"><span>Account Name</span></label>
            <div class="col-sm-9">
                <input ng-model="account.accountName" type="text" name="accountName" class="form-control" id="accountName" placeholder="Enter new account name" required />
                <p ng-show="newAccount.accountName.$invalid && submitted" class="help-block">
                    account name is required
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label for="accountKeywords" class="col-sm-3 form-label"><span>Account Keywords</span></label>
            <div class="col-sm-9">
                <input ng-model="account.keywords" type="text" class="form-control" id="accountKeywords" placeholder="Enter account keywords" />
            </div>
        </div>
        <div class="form-group row" ng-class="{'has-error': newAccount.$invalid && submitted}">
            <label class="col-sm-3 form-label required"><span>Industry</span></label>
            <div class="col-sm-9 single-select-light">
                <select name="industry" class="single-select" chosen ng-options="select.name for select in select" disable-search-threshold="10" ng-model="account.industry" required>
                </select>
                <p ng-show="newAccount.industry.$invalid && submitted" class="help-block">
                    industry is required
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-label">Logo</label>
            <div class="col-sm-9 file-selection-wrapper">
                <div file-picker ng-model="account.logo"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="clickthroughURL" class="col-sm-3 form-label"><span>Clickthrough URL</span></label>
            <div class="col-sm-9">
                <input ng-model="account.clickthroughURL" type="text" class="form-control" name="clickthroughURL" id="clickthroughURL" placeholder="Enter URL" />
            </div>
        </div>
        <div class="form-group row">
            <label for="leadCaptureEmail" class="col-sm-3 form-label"><span>Lead Capture Email</span></label>
            <div class="col-sm-9">
                <input ng-model="account.leadCaptureEmail" name="email" type="email" class="form-control" name="leadCaptureEmail" id="leadCaptureEmail" placeholder="Enter email" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-offset-3 col-sm-9">
                <input ng-model="account.enableSpanishPlayer" type="checkbox" class="checkbox checkbox-light" />
                <span>Enable Spanish Player</span>
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary solid" ng-click="ok()">Create Account</button>
    <button class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
