<div class="dropdown">
    <div class="dropdown-toggle"><i class="glyph-chevron-down"></i>{{account.name}} Summary</div>
    <div class="dropdown-menu">
        <div account-summary></div>
    </div>
</div>
<div class="btn-group right">
    <button class="btn btn-primary solid" ng-click="openNewCampaignModal()">New Campaign</button>
    <button class="btn btn-default solid" ng-click="openEditAccountModal()">Edit Account</button>
</div>

<div no-content click-action="openNewCampaignModal"></div>
