@import "./../brand";

.file-picker {

    // The drag 'n drop element has a max z-index value, which interferes
    // with the rest of the page. Create a stacking context to prevent that.
    position: relative;
    z-index: 1;

    width: 100%;
    .input-wrapper {
        display: flex;
        .droparea {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            flex-grow: 2;
            box-sizing: border-box;
            height: 10rem;
            line-height: 10rem; /* Used to vertically center items in coordination w/ baseline */
            border: 1px dashed @light-gray;
            i {
                margin: 0 1rem;
                &.glyph-icon {
                    font-size: 3rem;
                    top: 5px;
                    position: relative;
                }
            }
            .btn {
                background: none;
                padding: 0;
                text-decoration: underline;
                font-weight: normal;
                &.ui-state-hover {
                    color: @brand-color;
                }
            }
            &.drag-over {
                border-color: @brand-color;
            }
        }
        .preview {
            //
            display: none;
            &.show {
                display: flex;
                height: 10rem;
                margin-right: 1rem;
            }
            img {
                max-height: 100%;
            }
        }
    }
    .file-name-wrapper {
        display: none;
        text-align: left;
        margin: 1rem 0 0.5rem 0;
        &.show {
            display: block;
        }
        .file-name {
            margin-right: 1rem;
        }
        .glyph-icon {
            font-size: 1.25rem;
            color: @dark-gray;
            &:hover {
                color: @brand-color;
            }
        }
    }
    .progress-wrapper {
        border: 1px solid @dark-gray;
        background: @light-gray;
        .progress-bar {
            height: 10px;
            background: @green;
        }
    }
}
