@import "./../brand";

.file-picker {
    display: table;
    height: 10rem;
    width: 100%;
    text-align: center;
    .droparea {
        display: table-cell;
        vertical-align: middle;
        border: 1px dashed @light-gray;
    }
    .preview {
        display: table-cell;
        width: 25%;
    }
}
