@import "checkboxes";
@import "radio-buttons";
@import "range-input";
@import "alert";
@import "input-groups";

input[disabled], input[type]:disabled {
    cursor: not-allowed;
    background-color: inherit;
    opacity: 0.4;
}
.form-checkbox {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 2rem;

}
textarea.form-control {
    margin: 0;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: 1px solid @dark-gray;

    &:focus {
        outline: none;
        border-color: @brand-color;
    }

}

.help-block {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #7c7c86;
}

.form {
    .clearfix();

    .required > span {
        font-weight: 600;
        &:after {
            content: '*';
        }
    }
    .form-label > span {
        display: block;
    }
    .form-group {
        width: 100%;
        .form-control {
            display: block;
        }
        input[type="text"].form-control, input[type="email"].form-control {
            width: 100%;
            padding: 0;
            line-height: inherit;
        }
        textarea.form-control {
            width: 100%;
            max-width: 100%;
        }
    }

    .chosen-container {
        min-width: 100%;
    }
}

.form-inline {
    .form-control {
        width: 100%;
    }
    @media (min-width: @screen-sm-min) {
        .form-group {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
            margin-right: 2rem;
        }
    }
}

.form-horizontal {
    .form-group {
        .clearfix();
        .form-label {
            text-align: right;
            line-height: inherit;
        }
        .form-control {
            width: 100%;
            display: block;
            line-height: inherit;
        }
    }

    .form-group.row {
        width: auto;
        .form-label > span {
            display: inline-block;
        }
        .form-control, .chosen-container {
            min-width: 100%;
        }
    }
}

input.form-control {
    border: 1px solid @dark-gray;
    border-width: 0 0 1px;
    &:focus {
        outline: none;
        border-color: @brand-color;
    }
}

.form-group {
    &.has-success {
        .form-control {
            border-color: @green;
        }
        .form-label {
            color: @green;
            .form-control {
                color: initial;
            }
        }
        .help-block {
            color: @green;
        }
    }
    &.has-error {
        .form-control {
            border-color: @red;
        }
        .form-label {
            color: @red;
            .form-control {
                color: initial;
            }
        }
        .help-block {
            color: @red;
        }
    }
    &.has-warning {
        .form-control {
            border-color: @orange;
        }
        .form-label {
            color: @orange;
            .form-control {
                color: initial;
            }
        }
        .help-block {
            color: @orange;
        }
    }
}
