/* these are the brand colors */
/* primary colors */
/* secondary colors */
/* tertiary colors */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.highlight {
  padding: 9px 14px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  box-sizing: border-box;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.highlight pre code:first-child {
  box-sizing: border-box;
  padding-right: 45px;
}
.highlight pre code {
  font-size: inherit;
  color: #333;
}
@media (max-width: 1200px) {
  .style-guide {
    overflow: hidden;
  }
}
.style-guide .radio-button {
  margin-bottom: .5rem;
}
.style-guide .border-right {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  display: block;
}
.style-guide .border-right:before,
.style-guide .border-right:after {
  content: " ";
  display: table;
}
.style-guide .border-right:after {
  clear: both;
}
.style-guide .border-right:before,
.style-guide .border-right:after {
  content: " ";
  display: table;
}
.style-guide .border-right:after {
  clear: both;
}
.style-guide .border-right li {
  border: 1px solid #E1E1E1;
  border-width: 0 1px 0 0;
  padding-right: 1rem;
  margin-right: 1rem;
  float: left;
  display: inline;
}
.style-guide .border-right li:last-child {
  border: none;
}
.style-guide .dark-bg {
  background: #003c60;
}
.style-guide .dark-bg li {
  border: none;
  padding: 1rem;
  margin-right: 1rem;
  color: #fff;
}
.style-guide .padded {
  padding: 1rem;
}
.footer {
  text-align: right;
  background: #e2e2e2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 .5rem;
  z-index: 9999;
}
.style-guide .side-nav {
  position: fixed;
  top: 20px;
  padding-right: 40px;
  padding-left: 20px;
  bottom: 45px;
  overflow-y: hidden;
}
.style-guide .side-nav .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.style-guide .side-nav .nav .active {
  color: #003c60;
}
.style-guide .side-nav .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
}
.style-guide .side-nav .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 1.2rem;
  font-weight: 400;
}
.style-guide h1,
.style-guide h2,
.style-guide h3,
.style-guide h4,
.style-guide h5,
.style-guide h6 {
  padding-top: 3rem;
  margin-top: 0;
}
