/* these are the brand colors */
/* primary colors */
/* secondary colors */
/* tertiary colors */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  color: #3f403f;
  font-family: 'Lato', sans-serif;
}
hr {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
/* for IE8 support */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: normal;
  color: #3f403f;
}
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
  margin-top: -2rem;
  border-top-color: #3c3c3c;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 65%;
  font-weight: normal;
  color: #707274;
}
h1 {
  font-size: 30px;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
}
h2 {
  font-size: 26px;
  font-size: 2.6rem;
  font-family: 'Oswald', sans-serif;
}
h3 {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h5 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}
h6 {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}
p {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.small,
small {
  font-size: 11px;
  font-size: 1.1rem;
}
.muted {
  color: #707274;
}
.justify {
  text-align: justify;
  text-justify: inter-word;
}
.justify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
a {
  color: #0378bd;
}
a:hover {
  color: #9bd2f1;
}
a:active {
  color: #003c60;
}
a:visited {
  color: #0378bd;
}
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  border-radius: .2rem;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}
.btn:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
.btn.disabled,
button.disabled,
input[type="submit"].disabled,
input[type="reset"].disabled,
input[type="button"].disabled {
  cursor: not-allowed;
}
.btn {
  border: none;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: .1rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-lg {
  padding: 1rem 1.6rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.33;
  border-radius: .2rem;
}
.btn-sm {
  padding: .5rem 1rem;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.btn-xs {
  padding: .1rem .5rem;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.btn-default {
  box-shadow: inset 0 0 0 1px #3f403f;
  background: transparent;
  color: #3f403f;
}
.btn-default:hover {
  background: #cccccc;
}
.btn-default:active {
  background: #3f403f;
  color: #fff;
}
.btn-default:disabled,
.btn-default.disabled {
  background: transparent;
  color: #cccccc;
  box-shadow: inset 0 0 0 1px #cccccc;
}
.btn-default.solid {
  background: #3f403f;
  color: #fff;
  box-shadow: none;
}
.btn-default.solid:hover {
  background: #707274;
}
.btn-default.solid:active {
  background: #1c1c1c;
}
.btn-default.solid:disabled {
  background: #707274;
}
.btn-primary {
  box-shadow: inset 0 0 0 1px #9bd2f1;
  color: #9bd2f1;
  background: #003c60;
}
.btn-primary:hover {
  background: #005c93;
}
.btn-primary:active {
  background: #9bd2f1;
  color: #003c60;
}
.btn-primary:disabled,
.btn-primary.disabled {
  background: #003c60;
  color: rgba(0, 60, 96, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 60, 96, 0.5);
}
.btn-primary.solid {
  background: #004c7a;
  color: #fff;
  box-shadow: none;
}
.btn-primary.solid:hover {
  background: #0378bd;
}
.btn-primary.solid:active {
  background: #003c60;
}
.btn-primary.solid:disabled {
  opacity: .5;
}
table {
  max-width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 3rem;
}
.table > thead {
  font-size: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
}
.table > thead > tr {
  background: #3f403f;
  color: #fff;
}
.table > thead > tr > th {
  padding: 1.2rem 2rem;
}
.table > tbody {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3f403f;
}
.table > tbody > tr {
  background: #ffffff;
}
.table > tbody > tr:nth-child(2n+1) {
  background: #ebebeb;
}
.table > tbody > tr > td {
  vertical-align: top;
  padding: 2.2rem 2rem 2.2rem 1.5rem;
}
.table.table-hover > tbody > tr:hover {
  background: #cde4f2;
}
.table.table-hover > tbody > tr:hover > td:first-child > .cell:before {
  position: absolute;
  content: '';
  width: 5px;
  background: #0378bd;
  top: 0;
  left: 0;
  bottom: 0;
}
.table.table-hover > tbody > tr > td {
  padding: 0;
}
.table.table-hover > tbody > tr > td > .cell {
  padding: 2.2rem 2rem 2.2rem 1.5rem;
  position: relative;
}
.table.table-row-collapse {
  table-layout: fixed;
}
.table.table-row-collapse .table-row-collapse-header {
  background: transparent;
  color: #3c3c3c;
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: none;
  border: 1px solid #b7b7b7;
  border-bottom: none;
}
.table.table-row-collapse .table-row-collapse-header > th + th {
  cursor: pointer;
  border-left: 1px solid #b7b7b7;
}
.table.table-row-collapse.social .overview,
.table.table-row-collapse.social .video {
  display: none;
}
.table.table-row-collapse.social .social {
  display: table-cell;
}
.table.table-row-collapse.video .overview,
.table.table-row-collapse.video .social {
  display: none;
}
.table.table-row-collapse.video .video {
  display: table-cell;
}
.table.table-row-collapse th {
  white-space: nowrap;
}
.table.table-row-collapse th:first-child {
  width: 33%;
}
.table.table-row-collapse .video,
.table.table-row-collapse .social {
  display: none;
}
.table.table-row-collapse td .bar-chart {
  margin-left: 1rem;
  vertical-align: middle;
  float: right;
  width: 40px;
}
.table.table-row-collapse td + td {
  border-left: 1px solid #b7b7b7;
}
.table.table-row-collapse td .header {
  text-overflow: ellipsis;
  overflow: hidden;
}
.table.table-row-collapse td .content {
  display: none;
}
.table.table-row-collapse td:first-child {
  color: #0378bd;
}
.table.table-row-collapse td:last-child {
  border-right: none;
}
.table.table-row-collapse tr.open {
  background: #cde4f2;
}
.table.table-row-collapse tr.open > td:first-child > .cell:before {
  position: absolute;
  content: '';
  width: 5px;
  background: #0378bd;
  top: 0;
  left: 0;
  bottom: 0;
}
.table.table-row-collapse tr.open .content {
  display: block;
}
.table.table-row-collapse td:first-child .table-cell {
  margin-left: 2rem;
}
.table.table-row-collapse .table-cell {
  font-weight: normal;
  margin: 2.2rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3f403f;
}
.table.table-row-collapse .table-cell:last-child {
  margin-bottom: 0;
}
.table-collapse.open > .content {
  display: block;
}
.table-collapse.open > .header:after {
  content: "\f103";
}
.table-collapse > .header {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #707274;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1.3rem 2rem;
  position: relative;
}
.table-collapse > .header:after {
  position: absolute;
  font-family: "mixpo-icons";
  content: "\f106";
  right: 20px;
  top: 50%;
  margin-top: -8px;
}
.table-collapse > .content {
  display: none;
}
.table-collapse > .content > .table {
  margin-bottom: 0;
}
.table-collapse.group:first-child > .header {
  border-radius: 0.2rem 0.2rem 0 0;
  border-bottom: none;
}
.table-collapse.group:last-child > .header {
  border-bottom: 1px solid #707274;
  border-radius: 0 0 0.2rem 0.2rem;
}
[class*="icon-"] {
  display: inline-block;
  margin-right: 0.6rem;
  vertical-align: inherit;
}
.icon-status {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 0.7rem;
  background: #b7b7b7;
}
.icon-status.success {
  background: #00a651;
}
.icon-status.pending {
  background: #99d2f3;
}
.bar-chart {
  display: inline-block;
}
.bar-chart div {
  display: inline-block;
  background-color: #0378bd;
}
.tooltip {
  position: relative;
}
.tooltip .wrapper {
  display: none;
  position: absolute;
  border-radius: 0.2rem;
}
.tooltip .wrapper .content {
  padding: 20px;
  white-space: nowrap;
}
.tooltip.hover:hover .wrapper {
  display: inline-block;
}
.tooltip.tooltip-dark .wrapper {
  background: #3c3c3c;
  color: #fff;
}
.tooltip.tooltip-dark .wrapper:before {
  border: solid transparent;
}
.tooltip.tooltip-dark .wrapper:before {
  content: '';
  position: absolute;
  border-color: rgba(194, 225, 245, 0);
  border-width: 8px;
  height: 0;
  width: 0;
}
.tooltip[class*="tooltip-right"] .wrapper {
  left: 100%;
  top: 0;
  margin-left: 9px;
}
.tooltip[class*="tooltip-right"] .wrapper:before {
  border-right-color: #3c3c3c;
  margin-top: -8px;
}
.tooltip.tooltip-right-top .wrapper:before {
  right: 100%;
  top: 15%;
}
.tooltip.tooltip-right-middle .wrapper:before {
  right: 100%;
  top: 50%;
}
.tooltip.tooltip-right-bottom .wrapper:before {
  right: 100%;
  top: 85%;
}
.tooltip[class*="tooltip-bottom"] .wrapper {
  left: 0;
  top: 100%;
  margin-top: 9px;
}
.tooltip[class*="tooltip-bottom"] .wrapper:before {
  border-bottom-color: #3c3c3c;
  margin-top: -16px;
}
.tooltip.tooltip-bottom-left .wrapper:before {
  top: 0;
  left: 15%;
}
.tooltip.tooltip-bottom-middle .wrapper:before {
  top: 0;
  left: 50%;
}
.tooltip.tooltip-bottom-middle .wrapper:before {
  top: 0;
  left: 85%;
}
.tooltip.open .wrapper {
  display: inline-block;
}
.highlight {
  padding: 9px 14px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.highlight pre code:first-child {
  display: inline-block;
  padding-right: 45px;
}
.highlight pre code {
  font-size: inherit;
  color: #333;
}
