<div class="creative-preview">
	<div class="preview-modal-header">
		<a ng-click="previewInPage()" class="preview-link" title="Preview in Page"><i class="glyph-view"></i>Preview in Page</a>
		<a ng-click="openInStudio()" class="edit-link" title="Edit in Studio"><i class="glyph-edit"></i>Edit in Studio</a>
		<a class="close" ng-click="close()" title="Close"><i class="glyph-close"></i></a>
	</div>

	<div class="thumbnail-wrapper">
		<div ng-class="{'loading': !creative}" class="ratio-box">
			<div ng-click="previewInPage()" class="preview-overlay"><span><i class="glyph-view"></i>Preview in Page</span></div>
			<img ng-src="https://swf.mixpo.com{{creative.thumbnailUrlPrefix}}JPG320.jpg" class="preview-thumbnail"/>
		</div>
	</div>
	<table class="preview-info">
		<tbody>
			<tr>
				<td>Ad Type</td>
				<td>{{creative.type}}</td>
			</tr>
			<tr>
				<td>Size</td>
				<td ng-hide="!creative">{{creative.embedWidth}}px <i>x</i> {{creative.embedHeight}}px > {{creative.expandedWidth}}px <i>x</i> {{creative.expandedHeight}}px</td>
			</tr>
			<tr>
				<td>Creative ID</td>
				<td>{{creative.id}}</td>
			</tr>
		</tbody>
	</table>

</div>
