.highlight {
    padding: 9px 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    box-sizing: border-box;
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.highlight pre code:first-child {
    box-sizing: border-box;
    padding-right: 45px;
}

.highlight pre code {
    font-size: inherit;
    color: #333;
}
