<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>
    <h2 class="modal-title">{{name}}</h2>
</div>
<div class="modal-body analytics-preview">

    <h3 class="impressions">Total Campaign Impressions: {{impressions|number}}</h3>
    <div class="ad-types row">

        <div class="cell" ng-class="colClasses" ng-repeat="adUnit in creativeData | adTypeOrder">
            <div class="top">
                <h4 class="thin-header">{{adUnit.type}}<span ng-if="adUnit.type === creativeTypes.inStream || adUnit.type === creativeTypes.inBannerVideo"> Video</span></h4>
                <p>Placements:&nbsp;<strong>{{adUnit.metrics.countPlacements|number}}</strong></p>
                <p>Impressions:&nbsp;<strong>{{adUnit.metrics.impressions|truncateNumber}}</strong></p>
                <p ng-if="adUnit.type != creativeTypes.inStream && adUnit.type != creativeTypes.display">View Rate:&nbsp;<strong>{{adUnit.metrics.viewRate|percentage}}&#37;</strong></p>
                <p>User Action Rate:&nbsp;<strong>{{adUnit.metrics.useractionRate|percentage}}&#37;</strong></p>
                <p>Clickthrough Rate:&nbsp;<strong>{{adUnit.metrics.clickthroughRate|percentage}}&#37;</strong></p>
                <p ng-if="adUnit.type != creativeTypes.richMedia && adUnit.type != creativeTypes.display">Avg. &#37; Complete:&nbsp;<strong>{{adUnit.metrics.averagePercentComplete|percentage}}&#37;</strong></p>

            </div>

            <div quartiles quartile-data=adUnit.metrics class="bottom" ng-if="adUnit.type != creativeTypes.richMedia && adUnit.type != creativeTypes.display"></div>

        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default right"><i class="glyph-icon glyph-preview"></i>View Complete Analytics</button>
</div>
