<nav class="row tab-header" role="form">
    <div ng-if="!noContent">
        <div class="col-sm-8 col-xs-12">
            <ul class="icons left">
                <li><a id="creatives-header-view-thumnails" ui-sref-active="active" ui-sref=".({viewAs: ''})"><i class="glyph-grid"></i></a></li>
                <li><a id="creatives-header-view-list" ui-sref-active="active" ui-sref=".({ viewAs: 'list' })"><i class="glyph-list"></i></a></li>
            </ul>
            <ul class="filters left">
                <li><b>Filter:</b></li>
                <li><a id="creatives-header-filter-all" ui-sref-active="active" ui-sref=".({filter: ''})">All ({{creativesMeta.all}})</a></li>
                <li><a id="creatives-header-filter-ibv" ui-sref-active="active" ui-sref=".({filter: 'inBannerVideo'})">In-Banner ({{creativesMeta.inBannerVideo}})</a></li>
                <li><a id="creatives-header-filter-is" ui-sref-active="active" ui-sref=".({filter: 'inStream'})">In-Stream ({{creativesMeta.inStream}})</a></li>
                <li><a id="creatives-header-filter-rm" ui-sref-active="active" ui-sref=".({filter: 'richMedia'})">Rich Media ({{creativesMeta.richMedia}})</a></li>
                <li><a id="creatives-header-filter-d" ui-sref-active="active" ui-sref=".({filter: 'display'})">IMG/SWF ({{creativesMeta.display}})</a></li>
            </ul>
            <label class="form-label search left">
                <input id="creatives-header-search-field" class="input" placeholder="Search" type="search" />
            </label>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="btn-group right">
                <button id="creatives-header-newcreative-btn" class="btn btn-primary solid" ng-click="openNewCreativeModal()">New Creative</button>
                <button id="creatives-header-settrackers-btn" class="btn btn-default">Set Trackers</button>
            </div>
        </div>
    </div>
</nav>

<div no-content></div>
