<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>

    <h2 class="modal-title">
        <span>{{action}} Creative</span></h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form" novalidate
          name="newCreative">
        <div ng-pluralize ng-show="newCreative.$invalid && submitted"
             class="alert alert-danger"
             count="(newCreative.$error | errorCount)"
             when="{'0': 'There are no errors on this form',
                    '1': 'There is 1 error on this form.',
                    'other': 'There are {} errors on this form.'}">
        </div>
        <div ng-if="campaigns" class="form-group row"
             ng-class="{'has-error': newCreative.accountId.$invalid && submitted}">
            <label
                class="col-sm-3 form-label required"><span>Campaign</span></label>

            <div class="col-sm-9 single-select-light">
                <select name="campaigns" class="single-select" chosen
                        ng-options="campaign.id as campaign.name for campaign in campaigns track by campaign.id"
                        disable-search-threshold="10"
                        ng-model="creative.campaignId" required>
                </select>

                <p ng-show="newCreative.accountId.$invalid && submitted"
                   class="help-block">
                    campaign is required
                </p>
            </div>
        </div>

        <div class="form-group row"
             ng-class="{'has-error': newCreative.name.$invalid && submitted}">
            <label for="inputName" class="col-sm-3 form-label required"><span>Name</span></label>

            <div class="col-sm-9">
                <input ng-model="creative.name" type="text" name="name"
                       class="form-control" id="inputName" placeholder="Name"
                       required/>

                <p ng-show="newCreative.name.$invalid && submitted"
                   class="help-block">
                    name is required
                </p>
            </div>
        </div>

        <div class="form-group row"
             ng-class="{'has-error': newCreative.clickthroughUrl.$invalid && submitted}">
            <label for="clickthroughUrl" class="col-sm-3 form-label required"><span>Clickthrough URL</span></label>

            <div class="col-sm-9">
                <input ng-model="creative.clickthroughUrl" type="text" ng-pattern="URL_VALIDATION"
                       name="clickthroughUrl" class="form-control"
                       id="clickthroughUrl" placeholder="Clickthrough Url" required/>

                <p ng-show="newCreative.clickthroughUrl.$invalid && submitted"
                   class="help-block">
                    clickthrough url must be a valid URL
                </p>

            </div>
        </div>

        <div class="form-group row"
             ng-class="{'has-error': newCreative.type.$invalid && submitted}">
            <label
                class="col-sm-3 form-label required"><span>Creative Type</span></label>

            <div class="col-sm-9 single-select-light">
                <select name="type" class="single-select" chosen
                        ng-options="type.id as type.name for type in types track by type.id"
                        disable-search-threshold="10"

                        ng-model="creative.type" required>
                </select>
                <p ng-show="newCreative.type.$invalid && submitted"
                   class="help-block">
                    creative type is required
                </p>
            </div>
        </div>

        <div ng-if="environments" class="form-group row"
             ng-class="{'has-error': newCreative.environment.$invalid && submitted}">
            <label
                class="col-sm-3 form-label required"><span>Environment</span></label>

            <div class="col-sm-9 single-select-light">
                <select name="environment" class="single-select" chosen
                        ng-options="environment.id as environment.name for environment in environments track by environment.id"
                        disable-search-threshold="10"
                        ng-model="creative.environment" required>
                </select>

                <p ng-show="newCreative.environment.$invalid && submitted"
                   class="help-block">
                    environment is required
                </p>
            </div>
        </div>

        <div ng-if="dimensions" class="form-group row"
             ng-class="{'has-error': (newCreative.dimensions.$invalid || newCreative.customDimensionsWidth.$invalid || newCreative.customDimensionsHeight.$invalid) && submitted}">
            <label
                class="col-sm-3 form-label required"><span>Dimensions</span></label>

            <div class="col-sm-3 single-select-light">
                <select name="dimensions" class="single-select" chosen
                        ng-options="dimension.id as dimension.name for dimension in dimensions track by dimension.id"
                        disable-search-threshold="10"
                        ng-model="creative.dimensions" required>
                </select>

                <p ng-show="newCreative.dimensions.$invalid && submitted"
                   class="help-block">
                    dimensions are required
                </p>
                <p ng-show="newCreative.customDimensionsWidth.$invalid && submitted"
                   class="help-block">
                    width is required
                </p>
                <p ng-show="newCreative.customDimensionsHeight.$invalid && submitted"
                   class="help-block">
                    height is required
                </p>
            </div>
            <div class="col-sm-6" ng-if="dimensionsAreCustom">
                <div class="col-sm-6">
                    <input name="customDimensionsWidth" ng-model="creative.customDimensionsWidth" type="text"
                           class="form-control" id="customDimensionsWidth"
                           placeholder="Width" required/>
                </div>
                <div class="col-sm-6">
                    <input name="customDimensionsHeight" ng-model="creative.customDimensionsHeight" type="text"
                           class="form-control" id="customDimensionsHeight"
                           placeholder="Height" required/>
                </div>
            </div>
        </div>

        <div ng-if="expandedDimensions" class="form-group row"
             ng-class="{'has-error': (newCreative.expandedDimensions.$invalid || newCreative.customExpandedDimensionsWidth.$invalid || newCreative.customExpandedDimensionsHeight.$invalid) && submitted}">
            <label
                class="col-sm-3 form-label required"><span>Expanded Dimensions</span></label>

            <div class="col-sm-3 single-select-light">
                <select name="expandedDimensions" class="single-select" chosen
                        ng-options="expandedDimension.id as expandedDimension.name for expandedDimension in expandedDimensions track by expandedDimension.id"
                        disable-search-threshold="10"
                        ng-model="creative.expandedDimensions" required>
                </select>

                <p ng-show="newCreative.expandedDimensions.$invalid && submitted"
                   class="help-block">
                    expanded dimensions are required
                </p>
                <p ng-show="newCreative.customExpandedDimensionsWidth.$invalid && submitted"
                   class="help-block">
                    expanded width is required
                </p>
                <p ng-show="newCreative.customExpandedDimensionsHeight.$invalid && submitted"
                   class="help-block">
                    expanded height is required
                </p>
            </div>
            <div class="col-sm-6" ng-if="expandedDimensionsAreCustom">
                <div class="col-sm-6">
                    <input name="customExpandedDimensionsWidth" ng-model="creative.customExpandedDimensionsWidth" type="text"
                           class="form-control" id="customExpandedDimensionsWidth"
                           placeholder="Width" required />
                </div>
                <div class="col-sm-6">
                    <input name="customExpandedDimensionsHeight" ng-model="creative.customExpandedDimensionsHeight" type="text"
                           class="form-control" id="customExpandedDimensionsHeight"
                           placeholder="Height" required />
                </div>
            </div>
        </div>

        <div ng-if="creative.type == 'SWF'">
            <div class="form-group row">
                <label class="col-sm-3 form-label">Upload SWF</label>
                <div class="col-sm-9 file-selection-wrapper form-inline">
                    <div file-picker accept="'application/x-shockwave-flash'" extensions="swfAllowedExtensions" ng-model="creative.file"></div>
                </div>
            </div>
        </div>

        <div ng-if="creative.type == 'IMG'">
            <div class="form-group row">
                <label class="col-sm-3 form-label">Upload Image</label>
                <div class="col-sm-9 file-selection-wrapper form-inline">
                    <div file-picker ng-model="creative.file"></div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="customStartFrame" class="col-sm-3 form-label"><span>Custom Start Frame</span></label>
            <div class="col-sm-9">
                <label>
                    <input id="customStartFrame" ng-model="creative.customStartFrame" type="checkbox" class="checkbox checkbox-light" />
                    <span></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label for="keywords" class="col-sm-3 form-label"><span>Keywords</span></label>

            <div class="col-sm-9">
                <input ng-model="creative.keywords" type="text"
                       class="form-control" id="keywords"
                       placeholder="Keywords"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary solid" ng-click="ok(newCreative.$error)">Save
        Creative
    </button>
    <button class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
