<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>

    <h2 class="modal-title">
        <span>{{action}} Creative</span></h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form" novalidate
          name="newCreative">
        <div ng-pluralize ng-show="newCreative.$invalid && submitted"
             class="alert alert-danger"
             count="(newCreative.$error | errorCount)"
             when="{'0': 'There are no errors on this form',
                    '1': 'There is 1 error on this form.',
                    'other': 'There are {} errors on this form.'}">
        </div>
        <div ng-show="campaigns" class="form-group row"
             ng-class="{'has-error': newCreative.campaignId.$invalid && submitted}">
            <label
                class="col-sm-3 form-label required"><span>Campaign</span></label>
            <div class="col-sm-9">
                <select id="new-edit-creative-select-campaign" name="campaignId" select2
                        s2-options="campaign.id as campaign.name for campaign in campaigns track by campaign.id"
                        ng-model="creative.campaignId" required>
                </select>

                <p ng-show="newCreative.campaignId.$invalid && submitted"
                   class="help-block">
                    campaign is required
                </p>
                <p ng-show="errors.campaignId && submitted" class="help-block">
                    {{errors.campaignId}}
                </p>
            </div>
        </div>

        <div class="form-group row"
             ng-class="{'has-error': newCreative.name.$invalid && submitted}">
            <label for="new-edit-creative-name-field" class="col-sm-3 form-label required"><span>Name</span></label>

            <div class="col-sm-9">
                <input id="new-edit-creative-name-field" ng-model="creative.name" type="text" name="name"
                       class="form-control" placeholder="Name"
                       required/>

                <p ng-show="newCreative.name.$invalid && submitted"
                   class="help-block">
                    name is required
                </p>
                <p ng-show="errors.name && submitted" class="help-block">
                    {{errors.name}}
                </p>
            </div>
        </div>

        <div class="form-group row"
             ng-class="{'has-error': newCreative.clickthroughUrl.$invalid && submitted}">
            <label for="new-edit-creative-clickthrough-url-field" class="col-sm-3 form-label required"><span>Clickthrough URL</span></label>

            <div class="col-sm-9">
                <input id="new-edit-creative-clickthrough-url-field" ng-model="creative.clickthroughUrl" type="text" ng-pattern="URL_REGEX"
                       name="clickthroughUrl" class="form-control" placeholder="Clickthrough Url" required/>

                <p ng-show="newCreative.clickthroughUrl.$invalid && submitted"
                   class="help-block">
                    clickthrough url must be a valid URL
                </p>

                <p ng-show="errors.clickthroughUrl && submitted" class="help-block">
                    {{errors.clickthroughUrl}}
                </p>
            </div>
        </div>

        <div class="form-group row"
             ng-class="{'has-error': newCreative.type.$invalid && submitted}">
            <label ng-class="{disabled:editing}" class="col-sm-3 form-label required"><span>Creative Type</span></label>
            <div class="col-sm-9">
                <select id="new-edit-creative-select-creative-type" ng-disabled="editing" name="type" select2
                        s2-options="type as type.name for type in types track by type.id"
                        ng-model="typeTransform" ng-model-options="{ getterSetter: true }" required>
                </select>
                <p ng-show="newCreative.type.$invalid && submitted"
                   class="help-block">
                    creative type is required
                </p>
                <p ng-show="errors.type && submitted" class="help-block">
                    {{errors.type}}
                </p>
            </div>
        </div>

        <div ng-if="environments" class="form-group row"
             ng-class="{'has-error': newCreative.environment.$invalid && submitted}">
            <label ng-class="{disabled:editing}" class="col-sm-3 form-label required"><span>Environment</span></label>
            <div class="col-sm-9">
                <select id="new-edit-creative-select-environment" ng-disabled="editing" name="environment" select2
                        s2-options="environment as environment.name for environment in environments track by environment.id"
                        ng-model="environmentTransform" ng-model-options="{ getterSetter: true }" ng-required="!editing">
                </select>

                <p ng-show="newCreative.environment.$invalid && submitted"
                   class="help-block">
                    environment is required
                </p>
                <p ng-show="errors.environment && submitted" class="help-block">
                    {{errors.environment}}
                </p>
            </div>
        </div>

        <div ng-if="dimensions" class="form-group row"
             ng-class="{'has-error': (newCreative.dimensions.$invalid || newCreative.customDimensionsWidth.$invalid || newCreative.customDimensionsHeight.$invalid) && submitted}">
            <label ng-class="{disabled:editing}" class="col-sm-3 form-label required"><span>Dimensions</span></label>
            <div class="col-sm-3">
                <select id="new-edit-creative-select-dimensions" ng-disabled="editing" name="dimensions" select2
                        s2-options="dimension as dimension.name for dimension in dimensions track by dimension.id"
                        ng-model="dimensionsTransform" ng-model-options="{ getterSetter: true }" required>
                </select>

                <p ng-show="newCreative.dimensions.$invalid && submitted"
                   class="help-block">
                    dimensions are required
                </p>
                <p ng-show="newCreative.customDimensionsWidth.$invalid && submitted"
                   class="help-block">
                    width is required
                </p>
                <p ng-show="newCreative.customDimensionsHeight.$invalid && submitted"
                   class="help-block">
                    height is required
                </p>
                <p ng-show="errors.embedWidth && submitted" class="help-block">
                    {{errors.embedWidth}}
                </p>
                <p ng-show="errors.embedHeight && submitted" class="help-block">
                    {{errors.embedHeight}}
                </p>
            </div>
            <div class="col-sm-6" ng-show="dimensionsAreCustom">
                <div class="col-sm-6">
                    <input id="new-edit-creative-custom-width-field" ng-disabled="editing" name="customDimensionsWidth" ng-model="creative.embedWidth" type="number"
                           class="form-control" id="customDimensionsWidth"
                           placeholder="Width" required/>
                </div>
                <div class="col-sm-6">
                    <input id="new-edit-creative-custom-height-field" ng-disabled="editing" name="customDimensionsHeight" ng-model="creative.embedHeight" type="number"
                           class="form-control" id="customDimensionsHeight"
                           placeholder="Height" required/>
                </div>
            </div>
        </div>
        <div ng-if="expandedDimensions" class="form-group row"
             ng-class="{'has-error': (newCreative.expandedDimensions.$invalid || newCreative.customExpandedDimensionsWidth.$invalid || newCreative.customExpandedDimensionsHeight.$invalid) && submitted}">
            <label ng-class="{disabled:editing}" class="col-sm-3 form-label required"><span>Expanded Dimensions</span></label>
            <div class="col-sm-3">
                <select id="new-edit-creative-select-exp-dimension" ng-disabled="editing" name="expandedDimensions" select2
                        s2-options="expandedDimension as expandedDimension.name for expandedDimension in expandedDimensions track by expandedDimension.id"
                        ng-model="dimensionsExpandTransform" ng-model-options="{ getterSetter: true }" required>
                </select>

                <p ng-show="newCreative.expandedDimensions.$invalid && submitted"
                   class="help-block">
                    expanded dimensions are required
                </p>
                <p ng-show="newCreative.customExpandedDimensionsWidth.$invalid && submitted"
                   class="help-block">
                    expanded width is required
                </p>
                <p ng-show="newCreative.customExpandedDimensionsHeight.$invalid && submitted"
                   class="help-block">
                    expanded height is required
                </p>
                <p ng-show="errors.expandedWidth && submitted" class="help-block">
                    {{errors.expandedWidth}}
                </p>
                <p ng-show="errors.expandedHeight && submitted" class="help-block">
                    {{errors.expandedHeight}}
                </p>
            </div>
            <div class="col-sm-6" ng-if="expandedDimensionsAreCustom">
                <div class="col-sm-6">
                    <input id="new-edit-creative-custom-exp-width-field" ng-disabled="editing" name="customExpandedDimensionsWidth" ng-model="creative.expandedWidth" type="number"
                           class="form-control"
                           placeholder="Width" required />
                </div>
                <div class="col-sm-6">
                    <input id="new-edit-creative-custom-exp-height-field" ng-disabled="editing" name="customExpandedDimensionsHeight" ng-model="creative.expandedHeight" type="number"
                           class="form-control"
                           placeholder="Height" required />
                </div>
            </div>
        </div>

        <div ng-show="creative.campaignId && creative.type === 'Display'" class="form-group row">
          <label class="col-sm-3 form-label">Media</label>
          <div class="col-sm-9 file-selection-wrapper form-inline">
            <button class="btn btn-default" ng-click="selectMedia()">
              Select
              <span ng-show="creative.subtype==='SWF'">SWF</span>
              <span ng-show="creative.subtype==='IMG'">Image</span>
            </button>
          </div>
        </div>
        <!--<div ng-if="creative.subtype == 'SWF' && !editing">-->
            <!--<div class="form-group row">-->
                <!--<label class="col-sm-3 form-label">Upload SWF</label>-->
                <!--<div class="col-sm-9 file-selection-wrapper form-inline">-->
                    <!--<div file-picker accept="'application/x-shockwave-flash'" extensions="swfAllowedExtensions" ng-model="creative.file"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div ng-if="creative.subtype == 'IMG' && !editing">-->
            <!--<div class="form-group row">-->
                <!--<label class="col-sm-3 form-label">Upload Image</label>-->
                <!--<div class="col-sm-9 file-selection-wrapper form-inline">-->
                    <!--<div file-picker ng-model="creative.file"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div ng-show="creative.type===ENUMS.up.creativeTypes.inBannerVideo && isNonExpanding" class="form-group row">
            <label ng-class="{disabled:editing}" for="customStartFrame" class="col-sm-3 form-label"><span>Custom Start Frame</span></label>
            <div class="col-sm-9">
                <label>
                    <input ng-disabled="editing" id="customStartFrame" ng-model="creative.customStartFrame" type="checkbox" class="checkbox checkbox-light" />
                    <span></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label for="new-edit-creative-keywords-field" class="col-sm-3 form-label"><span>Keywords</span></label>

            <div class="col-sm-9">
                <input id="new-edit-creative-keywords-field" ng-model="creative.keywords" type="text"
                       class="form-control"
                       placeholder="Keywords"/>
            </div>

            <p ng-show="errors.keywords && submitted" class="help-block">
                {{errors.keywords}}
            </p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="new-edit-creative-save-creative-btn" class="btn btn-primary solid" ng-click="ok(newCreative.$error)">Save
        Creative
    </button>
    <button id="new-edit-creative-cancel-btn" class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
