<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>

    <h2 class="modal-title">
        <span>{{action}} Creative</span></h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form" novalidate
          name="newCreative">
        <div ng-pluralize ng-show="newCreative.$invalid && submitted"
             class="alert alert-danger"
             count="(newCreative.$error | errorCount)"
             when="{'0': 'There are no errors on this form',
                    '1': 'There is 1 error on this form.',
                    'other': 'There are {} errors on this form.'}">
        </div>
        <div ng-if="campaigns" class="form-group row"
             ng-class="{'has-error': newCreative.accountId.$invalid && submitted}">
            <label
                class="col-sm-3 form-label required"><span>Campaign</span></label>

            <div class="col-sm-9 single-select-light">
                <select name="campaigns" class="single-select" chosen
                        ng-options="campaign.id as campaign.name for campaign in campaigns track by campaign.id"
                        disable-search-threshold="10"
                        ng-model="creative.campaignId" required>
                </select>

                <p ng-show="newCreative.accountId.$invalid && submitted"
                   class="help-block">
                    campaign is required
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary solid" ng-click="ok(newCreative.$error)">Save
        Campaign
    </button>
    <button class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
