<div loading-indicator="creativesAreLoaded" show-loader="showLoader" class="thumbnail-view row ng-scope">
	<div class="creative-wrapper col-xs-12 col-sm-4 col-md-3 col-md-5 col-lg-7" ng-repeat="creative in creatives track by $index">
		<div ng-click="previewCreative(creative.id)" class="thumbnail-wrapper">
			<div class="ratio-box">
				<img ng-src="{{creative.thumbnail}}" fallback-src="images/placeholders/preview-not-available.jpg" class="thumbnail" />
			</div>
		</div>
		<div class="thumbnail-info">
			<i class="glyph-dot" ng-class="{'success': creative.delivering}"></i>
			<span class="right">
				<span ng-if="creative.type !== 'Display'">{{creative.type|shortenAdType}}</span><span ng-if="creative.type === 'Display'">{{creative.containerType}}</span> | {{creative.dimensions}}
				<span class="right" ng-if="creative.expandedSize">&nbsp;&gt; {{creative.expandedDimensions}}</span>
			</span>
		</div>
		<div class="creative-info">
			<div tooltip="'{{creative.creativeName}}'" class="title tooltip hover tooltip-basic tooltip-light" tooltip-overflow="true">{{creative.creativeName}}</div>
			<div class="data">
				<a ui-sref="cm.campaigns.detail.placements({campaignId: creative.campaignId})" title="View Creative Placements">Placements: </a>
				<a ui-sref="cm.campaigns.detail.placements({campaignId: creative.campaignId})" title="View Creative Placements">{{creative.numPlacements.name}}</a>
			</div>
			<div class="data">
				<span>Ad Type:</span>
				<span ng-if="creative.type === 'Display'">{{creative.containerType}}</span>
				<span ng-if="creative.type !== 'Display'">{{creative.type|shortenAdType}}</span>
			</div>
			<div class="data">
				<span>Last Modified:</span>
				<span>{{creative.lastModified|date:'M/d/yyyy'}}</span>
			</div>
			<div class="data">
				<span>
					<a ng-if="creative.type !== 'Display'" ng-click="openStudio(creative)" title="Edit Creative in Studio"><i class="glyph-icon glyph-edit"></i>Edit</a>
					<a ng-if="creative.type === 'Display'" ng-click="openMediaLibrary(creative)" title="Replace Creative from Media Library"><i class="glyph-icon glyph-edit"></i>Replace</a>
					<a ng-click="openPreviewPage(creative)" title="Preview Creative in Page"><i class="glyph-icon glyph-view"></i>Preview</a>
				</span>
				<a ng-click="openSettings(creative.id)" title="Creative Settings" class="glyph-icon glyph-settings"></a>
				<a ng-click="copyCreative(creative.id)" title="Copy Creative" class="glyph-icon glyph-copy"></a>
				<a ng-click="deleteCreative(creative)" title="Delete Creative" class="glyph-icon glyph-close"></a>
			</div>
		</div>
	</div>

</div>
