<div class="thumbnail-view row ng-scope">
	<div class="creative-wrapper col-xs-12 col-sm-4 col-md-3 col-md-5 col-lg-7" ng-repeat="creative in creatives track by $index">
		<div ng-click="previewCreative(creative.id)" class="thumbnail-wrapper">
			<div class="ratio-box">
				<img ng-src="{{creative.thumbnail}}" fallback-src="images/placeholders/preview-not-available.jpg" class="thumbnail" />
			</div>
		</div>
		<div class="thumbnail-info">
			<i class="glyph-dot" ng-class="{'success': creative.delivering}"></i>
			<span class="right">{{creative.type}} | {{creative.dimensions}}<span class="right" ng-if="creative.expandedSize">&nbsp;&gt; {{creative.expandedDimensions}}</span></span>
		</div>
		<div class="creative-info">
			<span class="title">{{creative.creativeName}}</span>
			<div class="data">
				<a ng-click="openPlacements(creative.id)" title="View Creative Placements">Placements: </a>
				<a ng-click="openPlacements(creative.id)" title="View Creative Placements">{{creative.numPlacements}}</a>
			</div>
			<div class="data">
				<span>Ad Type:</span>
				<span>{{creative.type}}</span>
			</div>
			<div class="data">
				<span>Last Modified:</span>
				<span>{{creative.lastModified|date:'M/d/yyyy'}}</span>
			</div>
			<div class="data">
				<span>
					<a ng-click="openStudio(creative.id)" title="Edit Creative in Studio"><i class="glyph-icon glyph-edit"></i>Edit</a>
					<a ng-click="openPreviewPage(creative.id)" title="Preview Creative in Page"><i class="glyph-icon glyph-view"></i>Preview</a>
				</span>
				<a ng-click="openSettings(creative.id)" title="Creative Settings" class="glyph-icon glyph-settings"></a>
				<a ng-click="copyCreative(creative.id)" title="Copy Creative" class="glyph-icon glyph-copy"></a>
				<a ng-click="deleteCreative(creative.id)" title="Delete Creative" class="glyph-icon glyph-close"></a>
			</div>
		</div>
	</div>

</div>
