<div class="dropdown-toggle">
    <div class="dropdown-toggle-subtitle">
        {{section}}
    </div>
    <div tooltip="current" tooltip-overflow="true" class="tooltip dropdown-toggle-title hover tooltip-basic tooltip-light">
        <i class="glyph-chevron-down"></i>
        {{current}}
    </div>
</div>
<div class="dropdown-menu" role="menu">
    <label class="dropdown-search">
        <input ng-model="query" class="input" placeholder="Search" type="search" />
        <i class="glyph-close" ng-click="query = ''"></i>
    </label>
    <div class="row">
        <ul perfect-scrollbar suppress-scroll-x="true" refresh-on-change="pinned" wheel-propagation="true" class="list col-sm-12 col-md-6">
            <li ng-if="!state.divisionId"><a>All {{section}}</a></li>
        <li ng-if="state.divisionId"><a ui-sref=".campaigns.division(state)">All {{section}}</a></li>
            <li ng-if="pinned.length">Pinned
                <ul class="pinned">
                    <li ng-repeat="account in pinned track by account.id">
                    <a title="{{account.name}}" ui-sref=".campaigns.account({accountId: account.id})">{{account.name}}</a>
                        <a ng-click="unpin(account)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul ng-hide="query.length" perfect-scrollbar suppress-scroll-x="true" refresh-on-change="accountsMap" wheel-propagation="true" wheel-speed="10" class="list col-sm-12 col-md-6">
            <li ng-repeat="item in accountsMap track by $index">
                {{item.key}}
                <ul limit="5">
                    <li ng-repeat="account in (item.value | limitTo: limit) track by account.id">
                    <a title="{{account.name}}" ui-sref=".campaigns.account({accountId: account.id})">{{account.name}}</a>
                        <a ng-click="pin(account)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a></li>
                    <li ng-if="item.value.length > limit"><button ng-click="more()" class="btn btn-xs solid btn-default">More</button></li>
                </ul>
            </li>
        </ul>
        <ul ng-show="query.length" perfect-scrollbar suppress-scroll-x="true" refresh-on-change="results" wheel-propagation="true" class="list col-sm-12 col-md-6">
            <li>Results for "{{query}}"
                <ul>
                    <li ng-repeat="account in results track by account.id">
                    <a title="{{account.name}}" ui-sref=".campaigns.account({ accountId: account.id })">{{account.name}}</a>
                        <a ng-click="pin(account)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
