<div class="dropdown-toggle">
    <div class="dropdown-toggle-subtitle">
        [[section]]
    </div>
    <div class="dropdown-toggle-title">
        <i class="glyph-chevron-down"></i>
        [[current]]
    </div>
</div>
<div class="dropdown-menu" role="menu">
    <label class="dropdown-search">
        <input ng-model="query" class="input" placeholder="Search" type="search" />
    </label>
    <ul perfect-scrollbar suppress-scroll-x="true" refresh-on-change="pinned" wheel-propagation="true"  class="list">
        <li><a ui-sref=".accounts(state)">All [[section]]</a></li>
        <li ng-if="pinned.length">Pinned
            <ul class="pinned">
                <li ng-repeat="account in pinned track by $index">
                    <a ui-sref=".campaigns({accountId: account.id})">[[account.name]]</a>
                    <a ng-click="unpin(account)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a>
                </li>
            </ul>
        </li>
    </ul>
    <ul ng-hide="query.length" perfect-scrollbar suppress-scroll-x="true" refresh-on-change="accountsMap" wheel-propagation="true" wheel-speed="10" class="list">
        <li ng-repeat="(key, value) in accountsMap">
            [[key]]
            <ul>
                <li ng-repeat="account in value track by $index">
                    <a ui-sref=".campaigns({accountId: account.id})">[[account.name]]</a>
                    <a ng-click="pin(account)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a></li>
            </ul>
        </li>
    </ul>
    <ul ng-show="query.length" perfect-scrollbar suppress-scroll-x="true" refresh-on-change="results" wheel-propagation="true" class="list">
        <li>Results for "[[query]]"
            <ul>
                <li ng-repeat="account in results track by $index">
                    <a ui-sref=".campaigns({ accountId: account.id })">[[account.name]]</a>
                    <a ng-click="pin(account)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a></li>
            </ul>
        </li>
    </ul>
</div>
