<div class="dropdown-toggle">
    <div class="dropdown-toggle-subtitle">
        [[section]]
    </div>
    <div class="dropdown-toggle-title">
        <i class="glyph-chevron-down"></i>
        [[current]]
    </div>
</div>
<div class="dropdown-menu" role="menu">
    <label class="dropdown-search">
        <input class="input" placeholder="Search" type="search" />
    </label>
    <ul class="list" suppress-scroll-x="true" perfect-scrollbar refresh-on-change="pinned" wheel-propagation="true" wheel-speed="10">
        <li><a ui-sref=".campaigns">All [[section]]</a></li>
        <li ng-if="pinned.length">Pinned
            <ul class="pinned">
                <li ng-repeat="campaign in pinned track by $index">
                    <a ui-sref=".campaigns.detail({ campaignId: campaign.id})">[[campaign.name]]</a>
                    <a ng-click="unpin(campaign)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a>
                </li>
            </ul>
        </li>
        <li ng-show="preFlight.length">preFlight
            <ul>
                <li ng-repeat="campaign in preFlight track by $index">
                    <a ui-sref=".campaigns.detail({ campaignId: campaign.id})">[[campaign.name]]</a>
                    <a ng-click="pin(campaign)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a>
                </li>
            </ul>
        </li>
        <li ng-show="inFlight.length">inFlight
            <ul>
                <li ng-repeat="campaign in inFlight track by $index">
                    <a ui-sref=".campaigns.detail({ campaignId: campaign.id})">[[campaign.name]]</a>
                    <a ng-click="pin(campaign)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a>
                </li>
            </ul>
        </li>
        <li ng-show="completed.length">completed
            <ul>
                <li ng-repeat="campaign in completed track by $index">
                    <a ui-sref=".campaigns.detail({ campaignId: campaign.id})">[[campaign.name]]</a>
                    <a ng-click="pin(campaign)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a>
                </li>
            </ul>
        </li>
    </ul>
    <ul perfect-scrollbar suppress-scroll-x="true" refresh-on-change="quarterMap" wheel-propagation="true" class="list">
        <li ng-repeat="(key, value) in quarterMap">
            [[key]]
            <ul>
                <li ng-repeat="campaign in value track by $index">
                    <a ui-sref=".campaigns.detail({ campaignId: campaign.id})">[[campaign.name]]</a>
                    <a ng-click="pin(campaign)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a></li>
            </ul>
        </li>
    </ul>
</div>
