<div class="dropdown-toggle">
    <div class="dropdown-toggle-subtitle">
        [[section]]
    </div>
    <div class="dropdown-toggle-title">
        <i class="glyph-chevron-down"></i>
        [[current]]
    </div>
</div>
<div class="dropdown-menu" role="menu">
    <label class="dropdown-search">
        <input ng-model="query" class="input" placeholder="Search" type="search" />
    </label>
    <ul perfect-scrollbar suppress-scroll-x="true" refresh-on-change="pinned" wheel-propagation="true" class="list">
        <li><a ui-sref=".clients">All [[section]]</a></li>
        <li ng-if="pinned.length">Pinned
            <ul  class="pinned">
                <li ng-repeat="client in pinned track by $index">
                    <a ui-sref=".clients.detail({ clientId: client.id })">[[client.name]]</a>
                    <a ng-click="unpin(client)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a>
                </li>
            </ul >
        </li>
    </ul>
    <ul ng-hide="query.length" perfect-scrollbar suppress-scroll-x="true" refresh-on-change="results" wheel-propagation="true" class="list">
        <li ng-repeat="item in clientsMap">
            [[item.key]]
            <ul limit="5">
                <li ng-repeat="client in (item.value | limitTo: limit) track by $index">
                    <a ui-sref=".clients.detail({ clientId: client.id })">[[client.name]]</a>
                    <a ng-click="pin(client)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a></li>
                <li ng-if="item.value.length > limit"><button ng-click="more()" class="btn btn-xs solid btn-default">More</button></li>
            </ul>
        </li>
    </ul>
    <ul ng-show="query.length" perfect-scrollbar suppress-scroll-x="true" refresh-on-change="results" wheel-propagation="true" class="list">
        <li>Results for "[[query]]"
            <ul>
                <li ng-repeat="client in results track by $index">
                    <a ui-sref=".clients.detail({ clientId: client.id })">[[client.name]]</a>
                    <a ng-click="pin(client)"><i class="pin"><span class="unpin">Unpin</span><span class="repin">Pin</span></i></a></li>
            </ul>
        </li>
    </ul>
</div>
