<div>
	<label class="radio-inline">
		<input ng-model="placement.expandBeforeCountdown" ng-value="true" type="radio" name="expandBeforeCountdown" class="radio radio-light" />
							<span>
									Before Countdown / Loading
							</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.expandBeforeCountdown" ng-value="false" type="radio" name="expandBeforeCountdown" class="radio radio-light" />
							<span>
									After Countdown / Loading
							</span>
	</label>
</div>