<div>
	<label class="radio-inline">
		<input ng-model="placement.playMode" ng-value="'rollover'" type="radio"
					 name="playMode" class="radio radio-light"/>
							<span>
									Roll Over to Expand
							</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.playMode" ng-value="'click'" type="radio"
					 name="playMode" class="radio radio-light"/>
							<span>
									Click to Expand
							</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.playMode" ng-value="'auto'" type="radio"
					 name="playMode" class="radio radio-light"/>
							<span>
									Auto Expand
							</span>
	</label>
</div>