<div>
	<label class="radio-inline">
		<input ng-model="placement.expandType" ng-value="'directional'" type="radio"
					 name="expandType" class="radio radio-light"/>
							<span>
									Directional
							</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.expandType" ng-value="'pushdown'" type="radio"
					 name="expandType" class="radio radio-light"/>
							<span>
									Pushdown
							</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.expandType" ng-value="'takeover'" type="radio"
					 name="expandType" class="radio radio-light"/>
							<span>
									Full Page Takeover
							</span>
	</label>
</div>