<div>
	<label class="radio-inline">
		<input ng-model="placement.playMode" ng-value="playModes.rollover" type="radio"
					 name="playMode" class="radio radio-light"/>
						<span>
								Roll Over to Play
						</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.playMode" ng-value="playModes.click" type="radio"
					 name="playMode" class="radio radio-light"/>
						<span>
								Click to Play
						</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.playMode" ng-value="playModes.auto" type="radio"
					 name="playMode" class="radio radio-light"/>
						<span>
								Autoplay
						</span>
	</label>
</div>