<div>
	<label class="radio-inline">
		<input ng-model="placement.vastMediaFileType" ng-value="vastMediaFileTypes.universal" type="radio"
					 name="vastMediaFileType" class="radio radio-light"/>
							<span>
									Universal
							</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.vastMediaFileType" ng-value="vastMediaFileTypes.flash" type="radio"
					 name="vastMediaFileType" class="radio radio-light"/>
							<span>
									Flash
							</span>
	</label>
	<label class="radio-inline">
		<input ng-model="placement.vastMediaFileType" ng-value="vastMediaFileTypes.javascript" type="radio"
					 name="vastMediaFileType" class="radio radio-light"/>
							<span>
									Javascript
							</span>
	</label>
</div>
