<!-- <div loading-indicator is-loaded="isLoaded"></div> -->

<div class="dropdown">
    <div class="dropdown-toggle"><i class="glyph-chevron-down"></i>{{client.name}} Summary</div>
    <div class="dropdown-menu">
        <div you-work-on></div>
    </div>
</div>
<div class="btn-group right">
    <button tooltip="'You need a division before you can create an account!'" ng-class="{hover:noDivisions}" class="tooltip tooltip-basic tooltip-light btn btn-default solid" ng-disabled="noDivisions" ng-click="openNewAccountModal()">New Account</button>
    <!-- <button class="btn btn-default solid" ng-click="openNewDivisionModal()">New Division</button> -->
    <button class="btn btn-default solid" ng-click="openEditClientModal()">Edit Client</button>
</div>
