<div class="dropdown">
    <div class="dropdown-toggle"><i class="glyph-chevron-down"></i>{{client.name}} Summary</div>
    <div class="dropdown-menu">
        <div you-work-on></div>
    </div>
</div>
<div class="btn-group right">
    <button class="btn btn-default solid" ng-disabled="noDivisions" ng-click="openNewAccountModal()">New Account</button>
    <button class="btn btn-default solid" ng-click="openNewDivisionModal()">New Division</button>
    <button class="btn btn-default solid" ng-click="openEditClientModal()">Edit Client</button>
</div>
