<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>
    <h2 class="modal-title">New Client</h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form" novalidate name="newClient">
        <div ng-pluralize ng-show="newClient.$invalid && submitted" class="alert alert-danger" count="(newClient.$error | errorCount)"
             when="{'0': 'There are no errors on this form',
                    '1': 'There is 1 error on this form.',
                    'other': 'There are {} errors on this form.'}">
        </div>
        <div class="form-group row" ng-class="{'has-error': newClient.channels.$invalid && submitted}">
            <label class="col-sm-3 form-label required"><span>Channel</span></label>
            <div class="col-sm-9 single-select-light">
                <select name="channels" class="single-select" chosen ng-options="item as item for item in channels track by item" disable-search-threshold="10" ng-model="client.channel" required>
                </select>
                <p ng-show="newClient.channels.$invalid && submitted" class="help-block">
                    channel is required
                </p>
            </div>
        </div>
        <div class="form-group row" ng-class="{'has-error': newClient.name.$invalid && submitted}">
            <label for="inputName" class="col-sm-3 form-label required"><span>Name</span></label>
            <div class="col-sm-9">
                <input ng-model="client.name" type="text" name="name" class="form-control" id="inputName" placeholder="Name" required />
                <p ng-show="newClient.name.$invalid && submitted" class="help-block">
                    name is required
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-label">Logo</label>
            <div class="col-sm-9 file-selection-wrapper form-inline">
                <div style="height: 12rem; width: 45%; border: 1px dashed #ccc; box-sizing: border-box; float: left; margin: 0; text-align: center; font-size: 1.5rem; line-height: 12rem;">
                    Drop file here
                </div>
                <span style="width: 10%; float: left; text-align: center;">- OR -</span>
                <div style="width: 45%; float: left;">
                    <button class="btn btn-primary solid left" style="margin-bottom: 1rem;">Choose File</button>
                    <input style="float: left; clear: both; width: 100%; box-sizing: border-box; padding: 1rem; border: 1px solid black; border-width: 0 0 1px 0;" placeholder="No file selected" readonly />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-9">
                <label>
                    <input ng-model="client.requireRepEmail" type="checkbox" class="checkbox checkbox-light" />
                    <span>Require AE/Rep Name and Email for each campaign</span>
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary solid" ng-click="ok(newClient.$error)">Add Client</button>
    <button class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
