<div class="modal-header">
    <i class="glyph-icon glyph-close right" ng-click="cancel()"></i>
    <h2 class="modal-title">{{action}} Client</h2>
</div>
<div class="modal-body">
    <form class="form form-horizontal" role="form" novalidate name="newClient">
        <div ng-pluralize ng-show="newClient.$invalid && submitted" class="alert alert-danger" count="(newClient.$error | errorCount)"
             when="{'0': 'There are no errors on this form',
                    '1': 'There is 1 error on this form.',
                    'other': 'There are {} errors on this form.'}">
        </div>
        <div class="form-group row" ng-class="{'has-error': (newClient.channels.$invalid || errors.channelId) && submitted}">
            <label class="col-sm-3 form-label required"><span>Channel</span></label>
            <div class="col-sm-9">
                <select id="new-edit-client-channels-select" name="channels" ng-model="client.channelId" select2 s2-options="item.id as item.name for item in channels track by item.id" required>
                </select>
                <p ng-show="newClient.channels.$invalid && submitted" class="help-block">
                    channel is required
                </p>
                <p ng-show="errors.channelId && submitted" class="help-block">
                    {{errors.channelId}}
                </p>
            </div>
        </div>
        <div class="form-group row" ng-class="{'has-error': (newClient.name.$invalid || errors.name) && submitted}">
            <label for="inputName" class="col-sm-3 form-label required"><span>Name</span></label>
            <div class="col-sm-9">
                <input id="new-edit-client-name-field" ng-model="client.name" type="text" name="name" class="form-control" id="inputName" placeholder="Name" required />
                <p ng-show="newClient.name.$invalid && submitted" class="help-block">
                    name is required
                </p>
                <p ng-show="errors.name && submitted" class="help-block">
                    {{errors.name}}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-label">Logo</label>
            <div class="col-sm-9 file-selection-wrapper form-inline">
                <div file-picker ng-model="client.logo"></div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-9">
                <label>
                    <input id="new-edit-client-requireRepInfo-check" ng-model="client.requireRepInfo" type="checkbox" class="checkbox checkbox-light" />
                    <span>Require AE/Rep Name and Email for each campaign</span>
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="new-edit-client-save-client-btn" class="btn btn-primary solid" ng-click="ok(newClient.$error)">Save Client</button>
    <button id="new-edit-client-cancel-btn" class="btn btn-default solid" ng-click="cancel()">Cancel</button>
</div>
